@using Luthetus.Common.RazorLib.TreeViews.Displays
@using Luthetus.Extensions.DotNet.Outputs.Models
@using Luthetus.Extensions.DotNet.CommandLines.Models
@using Luthetus.TextEditor.RazorLib.Lexers.Models

<div class="luth_output-display" style="height: 100%;">
	
	@{
		var dotNetRunParseResult = DotNetCliOutputParser.GetDotNetRunParseResult();
		var appOptionsState = AppOptionsService.GetAppOptionsState();
	}
	
	<div class="luth_output-display-top-row" style="height: 1.8em;">
		@dotNetRunParseResult.Message
	
		(@dotNetRunParseResult.ErrorList.Count errors)
		(@dotNetRunParseResult.WarningList.Count warnings)
		(@dotNetRunParseResult.OtherList.Count other)
	</div>

	<div class="luth_output-display-body" style="height: calc(100% - 1.8em);">
	
		<CascadingValue Name="LuthetusTreeViewIconWidth" Value="appOptionsState.Options.IconSizeInPixels">
			<CascadingValue Name="LuthetusTreeViewIconHeight" Value="appOptionsState.Options.IconSizeInPixels">
	            <CascadingValue Name="OffsetPerDepthInPixels" Value="OffsetPerDepthInPixels">
	                <TreeViewContainerDisplay TreeViewContainerKey="OutputState.TreeViewContainerKey"
	                                          CssStyleString="height: 100%;"
	                                          OnContextMenuFunc="OnTreeViewContextMenuFunc"
	                                          TreeViewKeyboardEventHandler="_treeViewKeyboardEventHandler"
	                                          TreeViewMouseEventHandler="_treeViewMouseEventHandler" />
	            </CascadingValue>
	        </CascadingValue>
		</CascadingValue>
	</div>
</div>