@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@using System.Collections.Immutable
@using Luthetus.Extensions.DotNet.CommandLines.Models
@using Luthetus.TextEditor.RazorLib.Lexers.Models

<div class="luth_output-display">
	
	@{ var localDiagnosticLineList = DotNetCliOutputParser.GetDiagnosticLineList(); }

	@(nameof(DotNetCliOutputParser)).@(nameof(DotNetCliOutputParser.GetDiagnosticLineList)).Length: @localDiagnosticLineList.Count

	<ol>
		@foreach (var diagnosticLine in localDiagnosticLineList)
		{
			<li class="luth_tree-view-exception"
				style="margin: calc(1.6em + 4px) 0;">
				
				@diagnosticLine.Text
			</li>
		}
	</ol>
</div>