@using Fluxor.Blazor.Web.Components;
@using Luthetus.Common.RazorLib.TabGroups
@using Luthetus.Ide.ClassLib.Store.CompilerServiceExplorerCase.InnerDetails;
@using Luthetus.Ide.ClassLib.Store.CompilerServiceExplorerCase;
@using Luthetus.Ide.RazorLib.CompilerServiceExplorer.Graphical
@using Luthetus.Ide.RazorLib.CompilerServiceExplorer.TreeView

@inherits FluxorComponent

<div class="luth_ide_compiler-explorer-display"
     style="height: 100%;">

    @{
        var compilerServiceExplorerState = CompilerServiceExplorerStateWrap.Value;
        var tabGroup = TabGroupsCollectionStateSelection.Value;
        var activeTabEntryNoType = tabGroup?.GetActiveTabEntryNoType();

        CompilerServiceExplorerViewKind compilerServiceExplorerViewKind;

        if (activeTabEntryNoType is null)
            compilerServiceExplorerViewKind = CompilerServiceExplorerViewKind.Graphical;
        else
            compilerServiceExplorerViewKind = (CompilerServiceExplorerViewKind)activeTabEntryNoType.UntypedItem;
    }

    <div class="luth_ide_section-title">
        Compiler Explorer Display
    </div>

    <div class="luth_ide_section-body">
        
        <TabGroupDisplay TabGroupKey="CompilerServiceExplorerState.TabGroupKey"/>

        @switch (compilerServiceExplorerViewKind)
        {
            case CompilerServiceExplorerViewKind.Graphical:
                <CompilerServiceExplorerGraphicalDisplay />
                break;
            case CompilerServiceExplorerViewKind.TreeView:
                <CompilerServiceExplorerTreeViewDisplay />
                break;
        }
    </div>
</div>