<div class="luth_ide_integrated-terminal"
     style="height: 100%; overflow: auto;">
    @{ var sequenceCliWrapIntegratedTerminal = 0; }
    @(new RenderFragment(builder => _integratedTerminal.GetRenderTreeBuilder(
        builder,
        ref sequenceCliWrapIntegratedTerminal)))
</div>