<div style="display: inline;">
    <input class="luth_ide_input luth_ide_input-text"
           style="width: 33.33%; min-width:12ch;"
           title="@StdQuiescent.TargetFilePath"
           placeholder="_targetFilePath"
           readonly=@StdQuiescent.IsCompleted
           @bind="StdQuiescent.TargetFilePath"
           @bind:event="oninput"
           @onkeydown="HandleStdQuiescentOnKeyDown" />

    <input class="luth_ide_input luth_ide_input-text"
           style="width: 33.33%; min-width:12ch;"
           title="@StdQuiescent.Arguments"
           placeholder="_arguments"
           readonly=@StdQuiescent.IsCompleted
           @bind="StdQuiescent.Arguments"
           @bind:event="oninput"
           @onkeydown="HandleStdQuiescentOnKeyDown" />
</div>
