@using Luthetus.TextEditor.RazorLib.TextEditors.Models.TextEditorModels;
<div class="@CssClassString">

    @{
        var presentationModelsList = GetTextEditorPresentationModels();

        var presentationLayerOrderedByRankAscending = presentationModelsList.OrderBy(x => x.Rank).ToList();
    }

    @foreach (var presentationLayer in presentationLayerOrderedByRankAscending)
    {
        var completedCalculation = presentationLayer.CompletedCalculation;
        var textSpansList = completedCalculation?.TextEditorTextSpanList;

        @if (completedCalculation is not null && textSpansList is not null)
        {
            textSpansList = ShiftTextSpans(completedCalculation.TextModificationsSinceRequestList, textSpansList.Value);

            <div class="@presentationLayer.CssClassString">
                @foreach (var textSpan in textSpansList)
                {
                    var boundsInPositionIndexUnits = (textSpan.StartingIndexInclusive, textSpan.EndingIndexExclusive);

                    var firstRowToSelectDataInclusive = RenderBatch.Model!.GetRowInformation(
                            boundsInPositionIndexUnits.StartingIndexInclusive)
                        .RowIndex;

                    var lastRowToSelectDataExclusive = RenderBatch.Model!.GetRowInformation(
                            boundsInPositionIndexUnits.EndingIndexExclusive)
                        .RowIndex +
                        1;

                    var boundsInRowIndexUnits = (firstRowToSelectDataInclusive, lastRowToSelectDataExclusive);

                    for (var i = boundsInRowIndexUnits.firstRowToSelectDataInclusive;
                         i < boundsInRowIndexUnits.lastRowToSelectDataExclusive;
                         i++)
                    {
                        var rowIndex = i;

                        <div class="@GetCssClass(presentationLayer, textSpan.DecorationByte)"
                             style="@GetPresentationCssStyleString(
                                    boundsInPositionIndexUnits.StartingIndexInclusive,
                                    boundsInPositionIndexUnits.EndingIndexExclusive,
                                    rowIndex)">
                        </div>
                    }
                }
            </div>
        }
    }
</div>