@* TODO: Color the luth_te_scrollbar-connector differently and render the 'corner icon'? *@
<div class="luth_te_scrollbar luth_te_scrollbar-connector"
     @onmousedown:stopPropagation="true"
     @onmousemove:stopPropagation="true"
     @ondblclick:stopPropagation="true"
     @onclick:stopPropagation="true"
     @oncontextmenu:stopPropagation="true">
</div>