@{
    var localDiffResult = DiffResult;

    var longestTextLength = Math.Max(localDiffResult.InText.Length, localDiffResult.OutText.Length);
}

<div class="luth_diff-details-visualization-matrix">

    @* TODO: Ensure each character of "before" corresponds to a row all throughout the Solution. *@
    @* TODO: Use wording "in" and "out", instead of "before" and "after", all throughout the Solution. *@

    @for (var inI = 0; inI < longestTextLength; inI++)
    {
        var inIndex = inI;

        for (var outI = 0; outI < longestTextLength; outI++)
        {
            var outIndex = outI;

            char? inChar = null;
            char? outChar = null;

            if (inIndex < localDiffResult.InText.Length)
                inChar = localDiffResult.InText[inIndex];

            if (outIndex < localDiffResult.OutText.Length)
                outChar = localDiffResult.OutText[outIndex];

            var cssStyleString = $"left: {(1 + outIndex) * 2}em; top: {(1 + inIndex) * 2}em;";

            var inCharacterString = inChar?.ToString() ?? "{null}";
            var outCharacterString = outChar?.ToString() ?? "{null}";

            var titleString = $"{inCharacterString} -> {outCharacterString}";

            <div class="luth_diff-details-visualization-cell"
                 style="@cssStyleString"
                 title="@titleString">
                ~
            </div>
        }
    }
</div>