@{
    var localDiffResult = DiffResult;
}

<div class="luth_diff-details-visualization-after">
    @for (var i = 0; i < localDiffResult.OutText.Length; i++)
    {
        var index = i;
        var character = localDiffResult.OutText[index];

        <div class="luth_diff-details-visualization-character"
             style="@($"top: {index * 2}em; left: 0;")">
            @character
        </div>
    }
</div>