<button class="luth_ide_panel-tab luth_button luth_tab luth_unselectable @IsActiveCssClassString"
        @onclick="DispatchSetActivePanelTabActionOnClick"
        @onmousedown:stopPropagation="true"
        @onmousedown="HandleOnMouseDownAsync"
        @onmouseup:stopPropagation="true"
        @onmouseup="HandleOnMouseUpAsync"
        @onmouseout="HandleOnMouseOutAsync">
    
    <span>
        @PanelTab.Title
    </span>
</button>

@if (PanelTab.IsBeingDragged)
{
    <div class="luth_ide_panel-tab-drag-display"
         style="@PanelTab.BeingDraggedDimensions.StyleString">

        @PanelTab.Title
    </div>
}