<div class="luth_ide_project-template">
    <div class="luth_ide_project-template-title">
        @ProjectTemplate.TemplateName (@ProjectTemplate.ShortName)
    </div>
    
    <div class="luth_ide_project-template-body">
        <div class="luth_ide_project-template-body-entry">
            @ProjectTemplate.Language
        </div>
        <div class="luth_ide_project-template-body-entry">
            @ProjectTemplate.Tags
        </div>
    </div>
</div>