@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<div class="luth_drag-initializer"
     style="@StyleCss"
     @onmousemove="DispatchSetDragStateActionOnMouseMoveAsync"
     @onmouseup="DispatchSetDragStateActionOnMouseUp">
    
	@{
		var dragState = DragStateWrap.Value;
		var polymorphicDraggable = dragState.PolymorphicDraggable;
	}

	@if (polymorphicDraggable is not null)
	{
		foreach (var dropzone in polymorphicDraggable.DropzoneList)
		{
			<div style="z-index: @dropzone.MeasuredHtmlElementDimensions.ZIndex; @dropzone.DropzoneElementDimensions.StyleString"
				 class="luth_dropzone @GetIsActiveCssClass(dropzone)"
				 @onmouseover="() => _onMouseOverDropzone = dropzone"
				 @onmouseover:stopPropagation="true">
			</div>
		}

		<div style="polymorphicDraggable.DraggableElementDimensions.StyleString">
			<DynamicComponent Type="polymorphicDraggable.DraggableRendererType"
			                  Parameters="polymorphicDraggable.DraggableParameterMap"/>	
		</div>
	}
</div>