@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<div class="luth_drag-initializer"
     style="@StyleCss"
     @onmousemove="DispatchSetDragStateActionOnMouseMoveAsync"
     @onmouseup="DispatchSetDragStateActionOnMouseUpAsync">
    
</div>