@* <!-- Comment out this button. Moving it to the Tools dropdown. TODO: Delete this markup -->
	@{
	    var activeBackgroundTask = _continuousBackgroundTaskWorker.ExecutingBackgroundTask;
	}
	
	<div class="luth_ide_active-background-task"
	     style="display: flex;">
	    
	    <button class="luth_button"
	            style="margin-left: 15px;"
	            @onclick="ShowBackgroundTaskDialogOnClick">
	        Tasks
	    </button>
	</div>
*@
