@using Luthetus.Common.RazorLib.Reflectives.Displays
@using Luthetus.Ide.RazorLib.Terminals.Displays

<div class="luth_ide_development" style="padding: 50px;">

    <h3>IdeDevelopmentDisplay</h3>
    <hr/>
    
    <IntegratedTerminalDisplay/>
</div>
