@using Luthetus.Common.RazorLib.Reflectives.Displays

<div class="luth_ide_development" style="padding: 50px;">

    <h3>IdeDevelopmentDisplay</h3>
    <hr/>
    
    <TestIntegratedTerminal/>
</div>
