<button class="luth_button"
        style="margin-left: 15px;"
        @onclick="ImportOnClick">
    Import
</button>

<button class="luth_button"
        style="margin-left: 15px;"
        @onclick="ExportOnClick">
    Export
</button>