@{
    _exactMatchWrapper = _fileTemplatesFormWrappersBag.FirstOrDefault(
        x => x.FileTemplate.IsExactTemplate.Invoke(FileName));

    GetRelatedFileTemplates();
    
    foreach (var relatedMatchWrapper in _relatedMatchWrappersBag)
    {
        <div @key="relatedMatchWrapper.FileTemplate.Id">
            <input type="checkbox" @bind="@relatedMatchWrapper.IsChecked" />
            @relatedMatchWrapper.FileTemplate.DisplayName?
        </div>        
    }
}
