@using BlazorTextEditor.RazorLib.ViewModel

@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@{ var terminalSession = TerminalSessionsStateSelection.Value; }

<div class="bstudio_terminal-output-display">
    <div class="bstudio_terminal-output-history-display">
        @{
            string outputString = string.Empty;

            if (terminalSession is not null)
            {
                if (TerminalCommandKey is null)
                {
                    // Render out all of the session's standard output
                    outputString = terminalSession
                        .ReadStandardOut()
                                   ?? string.Empty;
                }
                else
                {
                    // Render out ONLY the standard output from the specified command
                    outputString = terminalSession
                        .ReadStandardOut(TerminalCommandKey)
                                   ?? string.Empty;
                }
            }
        }

        @ParseHttpLinks(outputString)
    </div>
    
    <div class="bstudio_terminal-output-input-display">
        @if (terminalSession is not null)
        {
            <div>
                @(terminalSession.WorkingDirectoryAbsoluteFilePathString ?? "null")
            </div>
            
            <div>
                <TextEditorViewModelDisplay TextEditorViewModelKey="terminalSession.TextEditorViewModelKey"
                                            IncludeHeaderHelperComponent="false"
                                            IncludeFooterHelperComponent="false"
                                            IncludeContextMenuHelperComponent="false"
                                            AfterOnKeyDownAsync="TextEditorAfterOnKeyDownAsync"/>
            </div>
        }
    </div>
</div>        
