<div style="overflow: auto; height: 100%; padding: 10px;">
    <TextEditorSettingsPreview TopLevelDivElementCssClassString="luth_te_add-margin-top"/>
    <InputTextEditorFontSize/>
    <InputTextEditorFontFamily/>
    <InputTextEditorCursorWidth/>
    <InputTextEditorHeight/>
    <InputTextEditorShowNewLines/>
    <InputTextEditorShowWhitespace/>
    <InputTextEditorTheme/>
    <InputTextEditorKeymap/>
</div>