<button class="luth_button"
        @onclick="async () => DispatchRegisterDialogRecordAction()">
        
    @{
    	var iconDriver = new IconDriver(
			AppOptionsStateWrap.Value.Options.IconSizeInPixels,
			AppOptionsStateWrap.Value.Options.IconSizeInPixels);
    }
    @IconSettingsGearFragment.Render(iconDriver)
</button>
