<button class="luth_button"
        @onclick="async () => DispatchRegisterDialogRecordAction()">
        
    @{
    	var appOptionsState = CommonApi.AppOptionApi.GetAppOptionsState();
    
    	var iconDriver = new IconDriver(
			appOptionsState.Options.IconSizeInPixels,
			appOptionsState.Options.IconSizeInPixels);
    }
    @IconSettingsGearFragment.Render(iconDriver)
</button>
