@{ var localTab = Tab; }

<button class="luth_polymorphic-tab luth_button @localTab.TabGetDynamicCss()"
        @onclick="async () => await localTab.TabSetAsActiveAsync()">

	@localTab.Title
</button>