<div class="luth_polymorphic-tab-list @CssClassString">
	@{ var localTabList = TabList; }
	@foreach (var tab in localTabList)
	{
		<PolymorphicTabDisplay @key="tab.PolymorphicUiKey"
							   Tab="tab"/>
	}
</div>