@using Luthetus.CompilerServices.Lang.DotNetSolution.CompilerServiceCase;
@using Luthetus.TextEditor.RazorLib.Lexes.Models;

<div class="luth_ide_solution-editor-display">
    @{
        var compilerServiceResource = _compilerServiceRegistry.DotNetSolutionCompilerService
            .GetCompilerServiceResourceFor(DotNetSolutionResourceUri);
    }

    @if (compilerServiceResource is not null)
    {
        var dotNetSolutionResource = (DotNetSolutionResource)compilerServiceResource;

        <div>
            @foreach (var textSpan in dotNetSolutionResource.SyntacticTextSpanBag)
            {
                <div>
                    @textSpan.GetText()
                </div>
            }
        </div>
    }
</div>