<div class="luth_widget">
	<CascadingValue Value="Widget">
        <DynamicComponent Type="Widget.ComponentType"
                          Parameters="Widget.ComponentParameterMap" />
    </CascadingValue>
</div>
