@{ var widgetLocal = Widget; }

<div class="luth_widget @widgetLocal.CssClass"
	 style="@widgetLocal.CssStyle"
	 id="@WIDGET_HTML_ELEMENT_ID"
     tabindex="-1"
	 @onfocusin="HandleOnFocusIn"
     @onfocusin:stopPropagation="true"
     @onfocusout="HandleOnFocusOut"
     @onfocusout:stopPropagation="true"
     @onmousedown="HandleOnMouseDown"
     @onmousedown:stopPropagation="true"
     @onkeydown="HandleOnKeyDown">
     
	<CascadingValue Value="widgetLocal">
        <DynamicComponent Type="widgetLocal.ComponentType"
                          Parameters="widgetLocal.ComponentParameterMap" />
    </CascadingValue>
</div>
