@using Luthetus.Common.RazorLib.Contexts.Displays
@using Luthetus.Common.RazorLib.Contexts.Models;
@using Luthetus.Ide.RazorLib.Editors.States;
@using Luthetus.TextEditor.RazorLib.Groups.Displays

<ContextBoundary ContextRecord="ContextFacts.EditorContext"
                 ClassCssString="luth_ide_editor-display"
                 StyleCssString="@EditorElementDimensions.StyleString">

    <div class="luth_ide_section-title">
        Editor
    </div>

    <div class="luth_ide_section-body">
        <TextEditorGroupDisplay TextEditorGroupKey="EditorSync.EditorTextEditorGroupKey"
                                TabIndex="0"
                                HeaderButtonKindBag="TextEditorHeaderButtonKindsBag" />
    </div>
</ContextBoundary>