@using BlazorCommon.RazorLib.TreeView.Displays
@using BlazorCommon.RazorLib.Dropdown

<div class="bstudio_input-file-display-side-bar"
     style="@ElementDimensions.StyleString">

    <CascadingValue Name="SearchQuery" Value="InputFileState.SearchQuery">
        <TreeViewStateDisplay TreeViewStateKey="TreeViewInputFileSidebarStateKey"
                              CssStyleString="height: 100%;"
                              OnContextMenuFunc="OnTreeViewContextMenuFunc"
                              TreeViewMouseEventHandler="InputFileTreeViewMouseEventHandler"
                              TreeViewKeyboardEventHandler="InputFileTreeViewKeyboardEventHandler"/>
    </CascadingValue>

    <DropdownDisplay DropdownKey="InputFileContextMenu.ContextMenuEventDropdownKey"
                     DropdownPositionKind="DropdownPositionKind.Unset"
                     CssStyleString="@InputFileContextMenu.GetContextMenuCssStyleString(_mostRecentTreeViewCommandParameter, DialogRecord)">

        <InputFileContextMenu TreeViewCommandParameter="_mostRecentTreeViewCommandParameter"/>
    </DropdownDisplay>
</div>