<div class="luth_ide_input-file-edit-address"
     @onfocusout="InputTextEditForAddressOnFocusOutAsync">
    
    <input @ref="_inputTextEditForAddressElementReference"
           @bind="_editForAddressValue"
           @onkeydown="InputTextEditForAddressOnKeyDownAsync"
           class="luth_ide_input luth_ide_input-file-search-input"/>

    <button @onclick="OnEscapeKeyDownCallbackAsync.Invoke"
            @onclick:stopPropagation="true"
            class="luth_button">
        Cancel
    </button>
</div>