<div style="background-color: var(--luth_secondary-background-color); color: var(--luth_secondary-foreground-color);">
	<table>
		<tr>
			<td>SvgWidth</td>
			<td><input type="number" @bind="SolutionVisualizationModel.Dimensions.SvgWidth"/></td>
		</tr>
		<tr>
			<td>SvgHeight</td>
			<td><input type="number" @bind="SolutionVisualizationModel.Dimensions.SvgHeight"/></td>
		</tr>
		<tr>
			<td>ViewBoxMinX</td>
			<td><input type="number" @bind="SolutionVisualizationModel.Dimensions.ViewBoxMinX"/></td>
		</tr>
		<tr>
			<td>ViewBoxMinY</td>
			<td><input type="number" @bind="SolutionVisualizationModel.Dimensions.ViewBoxMinY"/></td>
		</tr>
		<tr>
			<td>ViewBoxWidth</td>
			<td><input type="number" @bind="SolutionVisualizationModel.Dimensions.ViewBoxWidth"/></td>
		</tr>
		<tr>
			<td>ViewBoxHeight</td>
			<td><input type="number" @bind="SolutionVisualizationModel.Dimensions.ViewBoxHeight"/></td>
		</tr>
		<tr>
			<td>HorizontalPadding</td>
			<td><input type="number" @bind="SolutionVisualizationModel.Dimensions.HorizontalPadding"/></td>
		</tr>
		<tr>
			<td>VerticalPadding</td>
			<td><input type="number" @bind="SolutionVisualizationModel.Dimensions.VerticalPadding"/></td>
		</tr>
	</table>
</div>