<div>
	<div>
		SvgWidth<input type="number" @bind="SolutionVisualizationModel.SvgWidth"/>
	</div>
	<div>
		SvgHeight<input type="number" @bind="SolutionVisualizationModel.SvgHeight"/>
	</div>
	<div>
		ViewBoxMinX<input type="number" @bind="SolutionVisualizationModel.ViewBoxMinX"/>
	</div>
	<div>
		ViewBoxMinY<input type="number" @bind="SolutionVisualizationModel.ViewBoxMinY"/>
	</div>
	<div>
		ViewBoxWidth<input type="number" @bind="SolutionVisualizationModel.ViewBoxWidth"/>
	</div>
	<div>
		ViewBoxHeight<input type="number" @bind="SolutionVisualizationModel.ViewBoxHeight"/>
	</div>
</div>
