@using Luthetus.Common.RazorLib.ComponentRunner
@using Luthetus.Common.RazorLib.ContextCase.Displays
@using Luthetus.Common.RazorLib.ContextCase.Models;
@using Luthetus.Common.RazorLib.Dimensions;
@using Luthetus.Common.RazorLib.Installation.Displays
@using Luthetus.Common.RazorLib.KeyCase.Models;
@using Luthetus.Common.RazorLib.Panel.Displays
@using Luthetus.Common.RazorLib.Panel.Models;
@using Luthetus.Common.RazorLib.Resize.Displays
@using Luthetus.Common.RazorLib.StateHasChangedBoundaryCase.Displays;
@using Luthetus.Common.RazorLib.ShouldRenderBoundaryCase.Displays
@using Luthetus.Ide.RazorLib.InstallationCase.Displays
@using Luthetus.TextEditor.RazorLib.Installation.Displays
@using Luthetus.TextEditor.RazorLib.TextEditorCase.Displays

@inherits LayoutComponentBase

<ContextBoundary ContextRecord="ContextFacts.GlobalContext"
                 ClassCssString="@($"luth_ide_main-layout {UnselectableClassCss} {AppOptionsService.ThemeCssClassString} {TextEditorService.ThemeCssClassString}")"
                 StyleCssString="@($"{AppOptionsService.FontSizeCssStyleString} {AppOptionsService.FontFamilyCssStyleString}")">

    <ShouldRenderBoundary>

        <LuthetusCommonInitializer />
        <LuthetusTextEditorInitializer />
        <LuthetusIdeInitializer />

        <div class="luth_ide_test-layout"
             style="padding: 8px;">
            Test Layout
        </div>

        <StateHasChangedBoundary @ref="_bodyAndFooterStateHasChangedBoundaryComponent">
            
            @if (_componentTypes is null)
            {
                <div>Loading _componentTypes...</div>
            }
            else
            {
                <ComponentRunnerPanel ComponentTypes="_componentTypes"/>
            }
        </StateHasChangedBoundary>
    </ShouldRenderBoundary>
</ContextBoundary>