@using Luthetus.Ide.RazorLib.FileSystems.Displays

<div title="@NamespacePath.AbsolutePath.Value">
    <FileIconDisplay AbsolutePath="NamespacePath.AbsolutePath"/>
    @NamespacePath.AbsolutePath.NameWithExtension
</div>