@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<div class="bcrl_active-context-records-display">
				
    Context:&nbsp;
    @foreach (var contextRecord in ContextStatesWrap.Value.ActiveContextRecords)
    {
        <span>@contextRecord.DisplayNameFriendly&nbsp;->&nbsp;</span>
    }
</div>