@    using BlazorStudio.RazorLib.Editor
@    using BlazorStudio.RazorLib.FolderExplorer
@    using BlazorCommon.RazorLib.Resize
@    using BlazorStudio.ClassLib.Panel
@    using BlazorStudio.RazorLib.Panel
@    using BlazorCommon.RazorLib.Dimensions

<div class="bstudio_body"
     style="@BodyElementDimensions.StyleString">
    
    <PanelDisplay PanelRecordKey="PanelFacts.LeftPanelRecordKey"
                  AdjacentElementDimensions="_editorElementDimensions"
                  DimensionAttributeKind="DimensionAttributeKind.Width"
                  ReRenderSelfAndAdjacentElementDimensionsFunc="ReRenderAsync"/>

    <ResizableColumn LeftElementDimensions="@PanelFacts.GetLeftPanelRecord(PanelsCollectionWrap.Value).ElementDimensions"
                     RightElementDimensions="_editorElementDimensions"
                     ReRenderFuncAsync="ReRenderAsync"/>

    <EditorDisplay EditorElementDimensions="_editorElementDimensions"/>
    
    <ResizableColumn LeftElementDimensions="_editorElementDimensions"
                     RightElementDimensions="@PanelFacts.GetRightPanelRecord(PanelsCollectionWrap.Value).ElementDimensions"
                     ReRenderFuncAsync="ReRenderAsync"/>
    
    <PanelDisplay PanelRecordKey="PanelFacts.RightPanelRecordKey"
                  AdjacentElementDimensions="_editorElementDimensions"
                  DimensionAttributeKind="DimensionAttributeKind.Width"
                  ReRenderSelfAndAdjacentElementDimensionsFunc="ReRenderAsync"/>
</div>