@using Luthetus.Ide.ClassLib.Context
@using Luthetus.Ide.ClassLib.Views
@using Luthetus.Ide.RazorLib.Terminal
@using Luthetus.Ide.RazorLib.NuGet
@using Luthetus.Ide.RazorLib.Git

@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<ContextBoundary ContextRecord="ContextFacts.MainLayoutFooterContext"
                 ClassCssString="luth_ide_footer"
                 StyleCssString="@FooterElementDimensions.StyleString">

    <div class="luth_ide_footer-body">
        @{
            var footerState = FooterStateWrap.Value;

            switch (footerState.ActiveView.ViewKind)
            {
                case ViewKind.Terminals:
                    <TerminalDisplay/>
                    break;
                case ViewKind.NugetPackageManager:
                    <NuGetPackageManager/>
                    break;
                case ViewKind.GitDisplay:
                    <GitChangesDisplay/>
                    break;
            }
        }
    </div>
    
    <IdeFooterViewTabs/>
</ContextBoundary>