@inherits Fluxor.Blazor.Web.Components.FluxorComponent
@using Luthetus.Ide.ClassLib.Context
@using Luthetus.Ide.RazorLib.Settings
@using Luthetus.Ide.RazorLib.StartupControls
@using Luthetus.Common.RazorLib.Dropdown
@using Luthetus.Common.RazorLib.Menu

<ContextBoundary ContextRecord="ContextFacts.MainLayoutHeaderContext"
                 ClassCssString="luth_ide_header"
                 StyleCssString="display: flex; justify-content: space-between;">
    
    <div class="luth_ide_header-left-content"
         style="display: flex;">
        
        <SettingsDialogEntryPoint/>

        <ButtonDisplay @ref="_buttonDisplayComponentFile"
                       OnClickFunc="() => { AddActiveDropdownKey(_dropdownKeyFile); return Task.CompletedTask; }"
                       CssStyleString="position: relative; margin-left: 15px;">
            File
            
            <DropdownDisplay DropdownKey="_dropdownKeyFile"
                             DropdownPositionKind="DropdownPositionKind.Vertical">
    
                <CascadingValue Value="RestoreFocusToButtonDisplayComponentFileAsync" Name="ReturnFocusToParentFuncAsync">
                    <MenuDisplay MenuRecord="_menuFile"/>
                </CascadingValue>
            </DropdownDisplay>
        </ButtonDisplay>

        <StartupControlsDisplay/>
    </div>
</ContextBoundary>