@using Luthetus.Ide.RazorLib.Editor
@using Luthetus.Ide.RazorLib.FolderExplorer
@using Luthetus.Ide.ClassLib.Panel
@using Luthetus.Ide.RazorLib.Panel
@using Luthetus.Common.RazorLib.Resize
@using Luthetus.Common.RazorLib.Dimensions

<div class="bstudio_body"
     style="@BodyElementDimensions.StyleString">
    
    <PanelDisplay PanelRecordKey="PanelFacts.LeftPanelRecordKey"
                  AdjacentElementDimensions="_editorElementDimensions"
                  DimensionAttributeKind="DimensionAttributeKind.Width"
                  ReRenderSelfAndAdjacentElementDimensionsFunc="ReRenderAsync"/>

    <ResizableColumn LeftElementDimensions="@PanelFacts.GetLeftPanelRecord(PanelsCollectionWrap.Value).ElementDimensions"
                     RightElementDimensions="_editorElementDimensions"
                     ReRenderFuncAsync="ReRenderAsync"/>

    <EditorDisplay EditorElementDimensions="_editorElementDimensions"/>
    
    <ResizableColumn LeftElementDimensions="_editorElementDimensions"
                     RightElementDimensions="@PanelFacts.GetRightPanelRecord(PanelsCollectionWrap.Value).ElementDimensions"
                     ReRenderFuncAsync="ReRenderAsync"/>
    
    <PanelDisplay PanelRecordKey="PanelFacts.RightPanelRecordKey"
                  AdjacentElementDimensions="_editorElementDimensions"
                  DimensionAttributeKind="DimensionAttributeKind.Width"
                  ReRenderSelfAndAdjacentElementDimensionsFunc="ReRenderAsync"/>
</div>