<button class="luth_tab-entry luth_button luth_unselectable @IsActiveCssClassString"
        @onclick="DispatchSetActivePanelTabActionOnClick"
        @onmousedown:stopPropagation="true"
        @onmouseup:stopPropagation="true">
    
    <span>
        @TabEntryNoType.GetDisplayNameFunc.Invoke(TabEntryNoType)
    </span>
</button>