<div class="luth_polymorphic-tab-list @CssClassString">
	@{ var localTabList = TabList; }
	@foreach (var tab in localTabList)
	{
		<TabDisplay @key="tab.DynamicViewModelKey"
					Tab="tab"/>
	}
</div>