<div class="luth_progress">
    <span class="luth_progress-text">
        @(_percentCompleteMultipliedBy100)%
    </span>

    <div class="luth_progress-filler" style="width: @(_percentCompleteMultipliedBy100)%;">
    </div>
</div>