@using Luthetus.Common.RazorLib.Keys.Models
@using Luthetus.Ide.RazorLib.TreeViewImplementations.Models
@using Luthetus.Ide.RazorLib.Terminals.Models;
@using Luthetus.Ide.RazorLib.Terminals.Displays;
@using Luthetus.TextEditor.RazorLib.TextEditors.Displays.Internals
@using Luthetus.TextEditor.RazorLib.TextEditors.Models

<div class="luth_ide_test-explorer-details"
	 style="@ElementDimensions.StyleString">

	@{
		var activeNode = RenderBatch.TreeViewContainer.ActiveNode;
		var viewModelKey = GetTextEditorViewModelKey(activeNode);
	}

	<div style="height: 100%;">
		@if (activeNode is TreeViewStringFragment treeViewStringFragment ||
			 activeNode is TreeViewProjectTestModel treeViewProjectTestModel)
		{
			<ReadOnlyTextEditorViewModelDisplay TextEditorViewModelKey="viewModelKey" />
		}
		else if (activeNode is not null)
		{
			<text>@(activeNode.GetType().Name)</text>
		}
		else
		{
			<text>activeNode is null</text>
		}
	</div>
</div>