@using Luthetus.Common.RazorLib.Keys.Models
@using Luthetus.Ide.RazorLib.TreeViewImplementations.Models
@using Luthetus.Ide.RazorLib.Terminals.Models;
@using Luthetus.Ide.RazorLib.Terminals.Displays;
@using Luthetus.TextEditor.RazorLib.TextEditors.Displays.Internals
@using Luthetus.TextEditor.RazorLib.TextEditors.Models

<div class="luth_ide_test-explorer-details"
	 style="@ElementDimensions.StyleString">

	<div style="height: 100%;">

		@if (RenderBatch.TreeViewContainer.SelectedNodeList.Count > 1)
		{
			@: > 1 node is selected
		}
		else
		{
			var singularNode = RenderBatch.TreeViewContainer.SelectedNodeList.Single();
			
			var terminalCommandKey = GetTerminalCommandKey(singularNode);

			if (terminalCommandKey is not null)
			{
				var executionTerminal = TerminalStateWrap.Value.TerminalMap[TerminalFacts.EXECUTION_TERMINAL_KEY];

				var textEditorViewModelKey = executionTerminal
					.GetTerminalCommandViewModelKey(terminalCommandKey.Value);

				<ReadOnlyTextEditorViewModelDisplay TextEditorViewModelKey="textEditorViewModelKey" />
			}
			else if (singularNode is not null)
			{
				<text>@(singularNode.GetType().Name)</text>
			}
			else
			{
				<text>singularNode is null</text>
			}
		}
	</div>
</div>