@using Luthetus.Common.RazorLib.ContextCase.Displays
@using Luthetus.Common.RazorLib.ContextCase.Models;
@using Luthetus.Ide.RazorLib.EditorCase.States;
@using Luthetus.TextEditor.RazorLib.Group.Displays

<ContextBoundary ContextRecord="ContextFacts.EditorContext"
                 ClassCssString="luth_ide_editor-display"
                 StyleCssString="@EditorElementDimensions.StyleString">

    <div class="luth_ide_section-title">
        Editor
    </div>

    <div class="luth_ide_section-body">
        <TextEditorGroupDisplay TextEditorGroupKey="EditorState.EditorTextEditorGroupKey"
                                TabIndex="0"
                                HeaderButtonKinds="TextEditorHeaderButtonKinds" />
    </div>
</ContextBoundary>