@using Luthetus.Common.RazorLib.Dropdown.Displays
@using Luthetus.Common.RazorLib.Dropdown.Models;
@using Luthetus.Common.RazorLib.ContextCase
@using Luthetus.Common.RazorLib.ContextCase.Displays
@using Luthetus.Common.RazorLib.ContextCase.Models;
@using Luthetus.Ide.RazorLib.FolderExplorerCase;
@using Luthetus.Common.RazorLib.Dropdown
@using Luthetus.Common.RazorLib.TreeView
@using Luthetus.Common.RazorLib.TreeView.Displays
@using Luthetus.Ide.RazorLib.FolderExplorerCase.States;
@using Microsoft.AspNetCore.Components.Authorization

<ContextBoundary ContextRecord="ContextFacts.FolderExplorerContext"
                 ClassCssString="luth_ide_folder-explorer-display"
                 StyleCssString="height: 100%">
    
    <div class="luth_ide_section-title">
        Folder Explorer
    </div>
    
    <div class="luth_ide_section-body">
        @{
            var folderExplorerState = FolderExplorerStateWrap.Value;

            if (folderExplorerState.AbsolutePath is null)
            {
                <button class="luth_button"
                        @onclick="() => FolderExplorerState.ShowInputFile(FolderExplorerSync)">
                    Open Folder
                </button>
            }
            else
            {
                <CascadingValue Name="LuthetusTreeViewIconWidth" Value="AppOptionsStateWrap.Value.Options.IconSizeInPixels">
                    <CascadingValue Name="LuthetusTreeViewIconHeight" Value="AppOptionsStateWrap.Value.Options.IconSizeInPixels">
                        <CascadingValue Name="OffsetPerDepthInPixels" Value="OffsetPerDepthInPixels">
                            <TreeViewStateDisplay TreeViewStateKey="FolderExplorerState.TreeViewFolderExplorerContentStateKey"
                                                  CssStyleString="height: 100%;"
                                                  OnContextMenuFunc="OnTreeViewContextMenuFunc"
                                                  TreeViewKeyboardEventHandler="_folderExplorerTreeViewKeyboardEventHandler"
                                                  TreeViewMouseEventHandler="_folderExplorerTreeViewMouseEventHandler"/>
                        </CascadingValue>
                    </CascadingValue>
                </CascadingValue>


                <DropdownDisplay DropdownKey="FolderExplorerContextMenu.ContextMenuEventDropdownKey"
                                 DropdownPositionKind="DropdownPositionKind.Unset"
                                 CssStyleString="@FolderExplorerContextMenu.GetContextMenuCssStyleString(_mostRecentTreeViewCommandParameter)">

                    <FolderExplorerContextMenu TreeViewCommandParameter="_mostRecentTreeViewCommandParameter"/>
                </DropdownDisplay>
            }
        }
    </div>
</ContextBoundary>