<div id="@ContextRecord.ContextElementId"
     class="@ClassCssString"
     style="@StyleCssString"
     tabindex="@TabIndex"
     @onfocusin="HandleOnFocusIn"
     @onfocusin:stopPropagation="true"
     @onkeydown="HandleOnKeyDownAsync"
     @onkeydown:stopPropagation="true">
	
    <CascadingValue Value="this">
        @ChildContent
    </CascadingValue>  
</div>