@using Luthetus.Common.RazorLib.FileSystems.Models;

<div class="luth_ide_input-file-display-top-nav-bar">
    <div class="luth_ide_input-file-display-top-nav-bar-buttons">
        <button class="luth_button"
                disabled=@GetHandleBackButtonIsDisabled()
                @onclick="HandleBackButtonOnClick">
            <IconArrowLeft/>
        </button>
        
        <button class="luth_button"
                disabled=@GetHandleForwardButtonIsDisabled()
                @onclick="HandleForwardButtonOnClick">
            <IconArrowRight/>
        </button>
    
        <button class="luth_button"
                @onclick="HandleUpwardButtonOnClick">
            <IconArrowUp/>
        </button>
        
        <button class="luth_button"
                @onclick="HandleRefreshButtonOnClick">
            <IconRefresh/>
        </button>
    </div>
    
    <div class="luth_ide_input-file-display-top-nav-bar-address">
        <div class="luth_ide_input-file-display-top-nav-bar-address-hierarchy"
             @onclick="() => _showInputTextEditForAddress = true">
            
            @if (InputFileState.IndexInHistory < InputFileState.OpenedTreeViewModelHistoryList.Count)
            {
                var openedTreeView = InputFileState.GetOpenedTreeView();

                if (openedTreeView?.Item is not null)
                {
                    if (_showInputTextEditForAddress)
                    {
                        <InputFileEditAddress InitialInputValue="@openedTreeView.Item.Value"
                                              OnFocusOutCallbackAsync="InputFileEditAddressOnFocusOutCallbackAsync"
                                              OnEscapeKeyDownCallbackAsync="HideInputFileEditAddressAsync"/>
                    }
                    else
                    {
                        foreach (var directory in openedTreeView.Item.AncestorDirectoryList)
                        {
                            var directoryAbsolutePath = EnvironmentProvider.AbsolutePathFactory(directory.Value, true);
                            <InputFileAddressHierarchyEntry AbsolutePath="directoryAbsolutePath" />
                        }

                        <InputFileAddressHierarchyEntry AbsolutePath="openedTreeView.Item"/>
                    }
                }
            }
        </div>
    </div>
    
    <div class="luth_ide_input-file-display-top-nav-bar-search">
        <button @onclick="FocusSearchElementReferenceOnClickAsync"
                class="luth_button luth_ide_input-file-search-button">
            <IconSearch/>
        </button>
        
        <input @ref="SearchElementReference"
               @bind="SearchQuery"
               @bind:event="oninput"
               class="luth_ide_input luth_ide_input-file-search-input"/>
    </div>
</div>