@using Luthetus.Common.RazorLib.OutOfBoundsClicks.Displays

@{ var commandBarState = CommandBarService.GetCommandBarState(); }

<div class="luth_ide_command-bar">
	<input @onkeydown="HandleOnKeyDown"
		   type="text"
		   id="@INPUT_HTML_ELEMENT_ID"
	       class="luth_input"
	       style="width: 100%; height: 100%;"/>
</div>
