@using Luthetus.TextEditor.RazorLib.CompilerServices.Syntax
@using Luthetus.TextEditor.RazorLib.CompilerServices.Syntax.Symbols
@using Luthetus.TextEditor.RazorLib.CompilerServices.Syntax.Nodes
@using Luthetus.TextEditor.RazorLib.TextEditors.Models.Internals

@{
	var syntaxViewModelLocal = SyntaxViewModel;
	
	string? prefixText;
	string? text;
	GenericParametersListingNode? genericParametersListingNode;
	bool? hasQuestionMark;
	
	if (syntaxViewModelLocal.DefinitionNode is null && syntaxViewModelLocal.TargetNode is null && syntaxViewModelLocal.TargetSymbol is null)
	{
		prefixText = "(null)";
		text = null;
		genericParametersListingNode = null;
		hasQuestionMark = null;
	}
	else if (syntaxViewModelLocal.DefinitionNode is not null && syntaxViewModelLocal.DefinitionNode.SyntaxKind == SyntaxKind.TypeDefinitionNode)
	{
		prefixText = "(definition)";
		text = ((TypeDefinitionNode)syntaxViewModelLocal.DefinitionNode).TypeIdentifierToken.TextSpan.GetText();
		genericParametersListingNode = null;
		hasQuestionMark = null;
	}
	else if (syntaxViewModelLocal.TargetNode is not null && syntaxViewModelLocal.TargetNode.SyntaxKind == SyntaxKind.TypeClauseNode)
	{
		prefixText = "(reference)";
		text = ((TypeClauseNode)syntaxViewModelLocal.TargetNode).TypeIdentifierToken.TextSpan.GetText();
		genericParametersListingNode = null;
		hasQuestionMark = null;
	}
	else if (syntaxViewModelLocal.TargetSymbol is not null && syntaxViewModelLocal.TargetSymbol.SyntaxKind == SyntaxKind.TypeSymbol)
	{
		prefixText = "(symbol)";
		text = ((TypeSymbol)syntaxViewModelLocal.TargetSymbol).TextSpan.GetText();
		genericParametersListingNode = null;
		hasQuestionMark = null;
	}
	else
	{
		prefixText = "(unrecognizable-state)";
		text = null;
		genericParametersListingNode = null;
		hasQuestionMark = null;
	}
}

<span style="display: inline-flex;">
	
	@if (!string.IsNullOrWhiteSpace(prefixText))
	{
		<span>
			@prefixText&nbsp;
		</span>
	}
	
	@if (!string.IsNullOrWhiteSpace(text))
	{
		var classCssString = syntaxViewModelLocal.DefinitionNode is null
			? string.Empty
			: "luth_te_syntax-onclick";
	
		<span class="@classCssString luth_te_type"
			  @onclick="() => syntaxViewModelLocal.HandleOnClick(TextEditorService, SyntaxKind.TypeDefinitionNode)">
			@text
		</span>
	}
	
	@if (genericParametersListingNode is not null)
	{
		var syntaxViewModel = new SyntaxViewModel(
			targetSymbol: null,
			targetNode: genericParametersListingNode,
			definitionNode: null,
			depth: syntaxViewModelLocal.Depth + 1);
		<GenericSyntaxDisplay SyntaxViewModel="syntaxViewModel" />
	}
	
	@if (hasQuestionMark is not null && hasQuestionMark.Value)
	{
		<text>?</text>
	}
</span>
