<div class="luth_out-of-bounds-click-display"
     style="z-index: @ZIndex;"
     @onmousedown="OnMouseDownCallback"
	 @oncontextmenu:preventDefault="true"
     @onfocusin:stopPropagation="true"
     @onfocusout:stopPropagation="true">

</div>