@using Luthetus.Ide.RazorLib.Terminals.Models;

@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@{
    var terminalSession = TerminalSessionsStateSelection.Value;

    if (terminalSession is not null)
    {
        <button class="luth_button @CssClassString"
                @onclick="DispatchSetActiveTerminalCommandKeyActionOnClick">

            @if (WellKnownTerminalSessionKey == TerminalSessionFacts.EXECUTION_TERMINAL_SESSION_KEY)
            {
                @: Execution
            }
            else if (WellKnownTerminalSessionKey == TerminalSessionFacts.GENERAL_TERMINAL_SESSION_KEY)
            {
                @: General
            }
            else
            {
                <text>
                    BAD_WellKnownTerminalSessionKey:@WellKnownTerminalSessionKey.Guid
                </text>
            }

            <button class="luth_button"
                    @onclick="() => terminalSession.ClearStandardOut()"
                    @onclick:stopPropagation="true">
                Clear
            </button>

            @{ var isKillProcessDisabled = !terminalSession.HasExecutingProcess; }

            <button class="luth_button"
                    disabled=@isKillProcessDisabled
                    @onclick="() => terminalSession.KillProcess()"
                    @onclick:stopPropagation="true">
                Kill
            </button>

            <div style="margin-left: 15px;">
                @if (terminalSession.HasExecutingProcess)
                {
                    <IconLoading/>
                }
                else
                {
                    <IconBlank/>
                }
            </div>
        </button>
    }
}
