@using Luthetus.Common.RazorLib.Keys.Models;
@using Luthetus.TextEditor.RazorLib.Htmls.Models
@using Luthetus.Ide.RazorLib.Terminals.Models;

@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@{ var terminalSession = TerminalSessionStateSelection.Value; }

<div class="luth_ide_terminal-output-display">
    <div class="luth_ide_terminal-output-history-display">
        @{
			var outputStrList = new List<string>();

            if (terminalSession is not null)
            {
                if (TerminalCommandKey == Key<TerminalCommand>.Empty)
                {
                    // Render out all of the session's standard output
                    outputStrList = terminalSession.GetStandardOut() ?? new List<string>();
                }
                else
                {
                    // Render out ONLY the standard output from the specified command
                    outputStrList = terminalSession.GetStandardOut(TerminalCommandKey) ?? new List<string>();
                }
            }
        }

		<div class="luth_ide_output-result-list">
			@{ var outputResultList = OutputParser.Parse(outputStrList); }

			@if (ChildContent is not null)
			{
				@ChildContent(outputResultList)
			}
			else
			{
				for (var badI = 0; badI < outputResultList.Count; badI++)
				{
					var index = badI;
					var outputResult = outputResultList[index];
		
					// TODO: Measure the height of a row
					<div title="Row Number: @(index + 1)">
						@((MarkupString)outputResult.SourceText.EscapeHtml())
		
						@if (outputResult.SourceText.Length == 0)
						{
							<br/>
						}
					</div>
				}
			}
		</div>
    </div>
</div>        
