@using Luthetus.Common.RazorLib.Dropdown.Displays
@using Luthetus.Common.RazorLib.Dropdown.Models;
@using Luthetus.Common.RazorLib.TreeView.Displays
@using Luthetus.Ide.RazorLib.CompilerServiceExplorerCase.States;

<div class="luth_ide_compiler-explorer-tree-view">
    @{
        <div class="luth_ide_compiler-explorer-tree-view-title">
            Compiler Explorer
            
            <button class="luth_button"
                    style="display: inline;"
                    @onclick="ReloadOnClick">
                Reload
            </button>
        </div>

        <div class="luth_ide_compiler-explorer-tree-view-body">
            <CascadingValue Name="LuthetusTreeViewIconWidth" Value="AppOptionsStateWrap.Value.Options.IconSizeInPixels">
                <CascadingValue Name="LuthetusTreeViewIconHeight" Value="AppOptionsStateWrap.Value.Options.IconSizeInPixels">
                    <CascadingValue Name="OffsetPerDepthInPixels" Value="OffsetPerDepthInPixels">
                        <TreeViewStateDisplay TreeViewStateKey="CompilerServiceExplorerState.TreeViewCompilerServiceExplorerContentStateKey"
                                                CssStyleString="height: 100%;"
                                                OnContextMenuFunc="OnTreeViewContextMenuFunc"
                                                TreeViewKeyboardEventHandler="_compilerServiceExplorerTreeViewKeymap"
                                                TreeViewMouseEventHandler="_compilerServiceExplorerTreeViewMouseEventHandler"/>
                    </CascadingValue>
                </CascadingValue>
            </CascadingValue>

            <DropdownDisplay DropdownKey="CompilerServiceExplorerTreeViewContextMenu.ContextMenuEventDropdownKey"
                             DropdownPositionKind="DropdownPositionKind.Unset"
                             CssStyleString="@CompilerServiceExplorerTreeViewContextMenu.GetContextMenuCssStyleString(_mostRecentTreeViewCommandParameter)">

                <CompilerServiceExplorerTreeViewContextMenu TreeViewCommandParameter="_mostRecentTreeViewCommandParameter" />
            </DropdownDisplay>
        </div>
    }
</div>