@using Luthetus.CompilerServices.Lang.DotNetSolution.CompilerServiceCase;

@{
    var compilerService = CompilerService;
    var compilerServiceResources = CompilerService.CompilerServiceResources;
}

<div class="luth_ide_compiler-service">
    <div class="luth_ide_compiler-service-title">
        @compilerService.GetType().Name
    </div>

    <div class="luth_ide_compiler-service-main row">
        <div class="luth_ide_compiler-service-body col-12 col-md-8">
            <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                <defs>
                    <filter x="0" y="0" width="1" height="1" id="solid">
                        <feFlood flood-color="var(--luth_tertiary-background-color)" />
                        <feComposite in="SourceGraphic" operator="xor" />
                    </filter>
                </defs>
                <CascadingValue Name="CompilerServiceDisplayDimensions" Value="_compilerServiceDisplayDimensions">
                    @for (var temporaryIndex = 0; temporaryIndex < compilerServiceResources.Length; temporaryIndex++)
                    {
                        var index = temporaryIndex;
                        var compilerServiceResource = compilerServiceResources[index];

                        <ObsoleteCompilerServiceGraphicalResourceDisplay CompilerServiceResource="compilerServiceResource"
                                                        IndexAmongSiblings="index"
                                                        Depth="Depth + 1"
                                                        CountOfSiblingsAndSelf="@compilerServiceResources.Length"
                                                        ParentXCenterInPixels="0"
                                                        ParentYCenterInPixels="0"
                                                        ShouldDrawLineConnectingSelfToParent="false" />
                    }
                </CascadingValue>
            </svg>
        </div>

        <div class="luth_ide_compiler-service-controls-wrap col-12 col-md-4">
            <ObsoleteCompilerServiceExplorerGraphicalControlsDisplay CompilerServiceDisplayDimensions="_compilerServiceDisplayDimensions"
                                                             DimensionsStateHasChangedFunc="OnDimensionsStateHasChanged" />
        </div>
    </div>
</div>