@using Luthetus.Ide.RazorLib.Terminals.Models;

@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<div class="luth_ide_form">
    <div class="luth_ide_form-group">
        <div class="luth_ide_form-label">
            Name:
        </div>

        <div class="luth_ide_form-value">
            <input class="luth_ide_input luth_ide_input-text"
                       style="height: 2em;"
                       placeholder="Solution name"
                       @bind="_solutionName"
                       @bind:event="oninput"/>
        </div>
    </div>

    <div class="luth_ide_form-group">
        <div class="luth_ide_form-label">
            Directory:
        </div>

        <div class="luth_ide_form-value"
             style="display: flex;">

            <input class="luth_ide_input luth_ide_input-text"
                   style="height: 2em;"
                   placeholder="Parent directory"
                   @bind="_parentDirectoryName"
                   @bind:event="oninput"/>

            <button class="luth_button"
                    @onclick="RequestInputFileForParentDirectory">
                <IconFolder/>
            </button>
        </div>
    </div>

    <div>
        Solution&nbsp;Name:
        <div>
            <em class="luth_em">
                @DisplaySolutionName
            </em>.sln
        </div>
    </div>

    <div>
        Directory&nbsp;Absolute&nbsp;File&nbsp;Path:
        <div>
            <em class="luth_em">
                @DisplayParentDirectoryName
            </em>
        </div>
    </div>

    <div>
        Command:
        <div>
            <em class="luth_em">
                @FormattedCommand.Value
            </em>
        </div>
    </div>
    
    <button class="luth_button"
            @onclick="StartNewDotNetSolutionCommandOnClick">
        Run
    </button>
</div>