@using Luthetus.Common.RazorLib.Reflectives.Displays

<div class="luth_ide_development">

    <h3>IdeDevelopmentDisplay</h3>
    <hr/>

    <ReflectivePanel ComponentTypeList="_componentTypeList" />
</div>
