<div class="luth_tree-view-exception"
     style="display: flex; align-items: center;">

    <IconError/>

    <span style="margin-left: 0.5ch;">
        @TreeViewException.Item.Message
    </span>
</div>