@page "/"
@using Luthetus.TextEditor.RazorLib.TextEditors.Displays

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<TextEditorViewModelDisplay TextEditorViewModelKey="TextEditorViewModelKey" />