@using Luthetus.Common.RazorLib.Contexts.Displays
@using Luthetus.Common.RazorLib.Contexts.Models;
@using Luthetus.Common.RazorLib.Dropdowns.Displays
@using Luthetus.Common.RazorLib.Dropdowns.Models;
@using Luthetus.Common.RazorLib.Installations.Models;
@using Luthetus.Common.RazorLib.Menus.Displays
@using Luthetus.Ide.RazorLib.Settings.Displays
@using Luthetus.Ide.RazorLib.Shareds.Displays.Internals
@using Luthetus.Ide.RazorLib.StartupControls.Displays
@using Luthetus.Ide.RazorLib.Shareds.States;

<ContextBoundary ContextRecord="ContextFacts.MainLayoutHeaderContext"
                 ClassCssString="luth_ide_header"
                 StyleCssString="display: flex; justify-content: space-between;">
    
    <div class="luth_ide_header-left-content"
         style="display: flex;">
        
        <SettingsDialogEntryPoint/>

        <button @ref="_buttonFileElementReference"
                @onclick="RenderFileDropdownOnClick"
			    id="@IdeHeaderState.ButtonFileId"
                class="luth_button"
                style="margin-left: 15px;">
            File
        </button>

		<button @ref="_buttonToolsElementReference"
                @onclick="async () => await RenderDropdownOnClick(IdeHeaderState.ButtonToolsId, _buttonToolsElementReference, IdeHeaderState.DropdownKeyTools, IdeHeaderStateWrap.Value.MenuTools)"
			    id="@IdeHeaderState.ButtonToolsId"
                class="luth_button"
                style="margin-left: 15px;">
            Tools
        </button>

		<button @ref="_buttonViewElementReference"
                @onclick="async () => { InitializeMenuView(); await RenderDropdownOnClick(IdeHeaderState.ButtonViewId, _buttonViewElementReference, IdeHeaderState.DropdownKeyView, IdeHeaderStateWrap.Value.MenuView); }"
			    id="@IdeHeaderState.ButtonViewId"
                class="luth_button"
                style="margin-left: 15px;">
			View
         </button>

		<button @ref="_buttonRunElementReference"
                @onclick="async () => { InitializeMenuRun(); await RenderDropdownOnClick(IdeHeaderState.ButtonRunId, _buttonRunElementReference, IdeHeaderState.DropdownKeyRun, IdeHeaderStateWrap.Value.MenuRun); }"
			    id="@IdeHeaderState.ButtonRunId"
				class="luth_button"
                style="margin-left: 15px;">
            Run
        </button>

        <button class="luth_button"
                style="margin-left: 15px;"
                @onclick="OpenInfoDialogOnClick">
            Info
        </button>

        @if (LuthetusHostingInformation.LuthetusHostingKind == LuthetusHostingKind.ServerSide)
        {
            <IdeImportExportButtons/>
        }

        <StartupControlDisplay/>
    </div>
</ContextBoundary>