@using Luthetus.Common.RazorLib.Dropdowns.Displays
@using Luthetus.Common.RazorLib.Dropdowns.Models

<div class="luth_polymorphic-tab-list @CssClassString">

	@{ var localTabList = TabList; }

	<CascadingValue Name="@nameof(TabDisplay.HandleTabButtonOnContextMenu)" Value="HandleTabButtonOnContextMenu">
		@foreach (var tab in localTabList)
		{
			<TabDisplay @key="tab.DynamicViewModelKey"
						Tab="tab"/>
		}
	</CascadingValue>
</div>