@using Luthetus.CompilerServices.Lang.CSharp.CompilerServiceCase;
@using Luthetus.CompilerServices.Lang.CSharpProject.CompilerServiceCase;
@using Luthetus.CompilerServices.Lang.Css;
@using Luthetus.CompilerServices.Lang.DotNetSolution.CompilerServiceCase;
@using Luthetus.CompilerServices.Lang.FSharp;
@using Luthetus.CompilerServices.Lang.JavaScript;
@using Luthetus.CompilerServices.Lang.Json;
@using Luthetus.CompilerServices.Lang.Razor.CompilerServiceCase;
@using Luthetus.CompilerServices.Lang.TypeScript;
@using Luthetus.CompilerServices.Lang.Xml;

@if (TreeViewCompilerService.Item is XmlCompilerService xmlCompilerService)
{
    @: TODO: XmlCompilerService
}
else if (TreeViewCompilerService.Item is DotNetSolutionCompilerService dotNetSolutionCompilerService)
{
    @: TODO: DotNetSolutionCompilerService
}
else if (TreeViewCompilerService.Item is CSharpProjectCompilerService cSharpProjectCompilerService)
{
    @: TODO: CSharpProjectCompilerService
}
else if (TreeViewCompilerService.Item is CSharpCompilerService cSharpCompilerService)
{
    <div>
        @cSharpCompilerService.Binder.BoundNamespaceStatementNodes
    </div>
}
else if (TreeViewCompilerService.Item is RazorCompilerService razorCompilerService)
{
    @: TODO: RazorCompilerService
}
else if (TreeViewCompilerService.Item is CssCompilerService cssCompilerService)
{
    @: TODO: CssCompilerService
}
else if (TreeViewCompilerService.Item is FSharpCompilerService fSharpCompilerService)
{
    @: TODO: FSharpCompilerService
}
else if (TreeViewCompilerService.Item is JavaScriptCompilerService javaScriptCompilerService)
{
    @: TODO: JavaScriptCompilerService
}
else if (TreeViewCompilerService.Item is TypeScriptCompilerService typeScriptCompilerService)
{
    @: TODO: TypeScriptCompilerService
}
else if (TreeViewCompilerService.Item is JsonCompilerService jsonCompilerService)
{
    @: TODO: JsonCompilerService
}
