@using Luthetus.Ide.RazorLib.FileSystemCase

@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@{
    var gitFile = TreeViewGitFile.Item;

    var cssClass = "luth_ide_git-file"; 
}

<div class="@cssClass"
     title="@gitFile.GitDirtyReason">

    @{
        var gitState = GitStateWrap.Value;

        string shortenedParentDirectoryPathString = gitFile.AbsolutePath.FormattedInput;

        if (gitFile.AbsolutePath.ParentDirectory is not null &&
        gitState.GitFolderAbsolutePath?.ParentDirectory is not null)
        {
        }
    }

    <FileIconDisplay AbsolutePath="gitFile.AbsolutePath" />

    <em class="luth_em">
        @gitFile.AbsolutePath.NameWithExtension
    </em>

    <span>
        @shortenedParentDirectoryPathString
    </span>
</div>
