@using Fluxor.Blazor.Web.Components

@inherits FluxorComponent

@{ var reflectiveState = ReflectiveStateWrap.Value; }

<div class="luth_reflective-panel">

    <button class="luth_button" @onclick="DispatchRegisterActionOnClick">
        Add Component
    </button>

    @for (var i = 0; i < reflectiveState.ReflectiveModelList.Count; i++)
    {
        var index = i;
        var model = reflectiveState.ReflectiveModelList[index];

        <ReflectiveDisplay @key="model.Key"
                                ReflectiveModelKey="model.Key"
                                Index="index"
                                ComponentTypeList="ComponentTypeList" />

        <hr/>
    }
</div>