@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<div class="luth_ide_startup-controls-display">
   <div class="luth_ide_startup-controls-display-entry">
      MSBuild:&nbsp;  
   </div>
   <div class="luth_ide_startup-controls-display-entry">
      StartupProject:&nbsp;
      @(ProgramExecutionStateWrap.Value.StartupProjectAbsoluteFilePath?.NameNoExtension ?? "null")   
   </div>
   <div class="luth_ide_startup-controls-display-entry">
      <button @onclick="StartProgramWithoutDebuggingOnClick"
              class="luth_button"
              disabled=@(ProgramExecutionStateWrap.Value.StartupProjectAbsoluteFilePath is null)>
         <IconStartWithoutDebugging/>
      </button>
   </div>
</div>