<div title="start position index inclusive: @TreeViewFindAllTextSpan.Item.StartInclusiveIndex">
	<span>@TreeViewFindAllTextSpan.PreviewEarlierNearbyText</span><!--
	--><span class="luth_te_keyword-control">@(TreeViewFindAllTextSpan.Item.GetText())</span><!--
	--><span>@TreeViewFindAllTextSpan.PreviewLaterNearbyText</span>
</div>
