<div title="@TreeViewFindAllGroup.AbsolutePath.Value">
	@(TreeViewFindAllGroup.AbsolutePath.NameWithExtension)
	
	<span class="luth_te_comment">
		@($"{TreeViewFindAllGroup.Item.Count:N0}") matches
	</span>
</div>
