<div title="@TreeViewFindAllGroup.AbsolutePath.Value">
	<span class="luth_te_keyword">
		@(TreeViewFindAllGroup.AbsolutePath.NameWithExtension)
	</span>
	
	<span title="matches">
		@($"{TreeViewFindAllGroup.Item.Count:N0}")
	</span>
</div>
