@using Fluxor.Blazor.Web.Components;
@using Luthetus.Common.RazorLib.Contexts.Displays
@using Luthetus.Common.RazorLib.Contexts.Models;
@using Luthetus.Ide.RazorLib.CompilerServices.Models;

@inherits FluxorComponent

<ContextBoundary ContextRecord="ContextFacts.CompilerServiceExplorerContext"
                 ClassCssString="luth_ide_compiler-service-explorer"
                 StyleCssString="height: 100%">
    <div class="luth_ide_section-title">
        Compiler Explorer Display
    </div>

    <div class="luth_ide_section-body">
        <CompilerServiceExplorerTreeViewDisplay />
    </div>
</ContextBoundary>
