@using Luthetus.TextEditor.RazorLib.TextEditors.Models.Internals
@using Luthetus.Extensions.CompilerServices.Syntax
@using Luthetus.Extensions.CompilerServices.Syntax.Nodes
@using Luthetus.Extensions.CompilerServices.Syntax.Nodes.Enums

@{
	var syntaxViewModelLocal = SyntaxViewModel;
	
	string? prefixText;
	string? text;
	string? textCssClass;
	VariableDeclarationNode? variableDeclarationNode;
	
	if (syntaxViewModelLocal.DefinitionNode is null && syntaxViewModelLocal.TargetNode is null && syntaxViewModelLocal.TargetSymbol is null)
	{
		prefixText = "(null)";
		text = null;
		textCssClass = "luth_te_variable";
		variableDeclarationNode = null;
	}
	else if (syntaxViewModelLocal.DefinitionNode is not null && syntaxViewModelLocal.DefinitionNode.SyntaxKind == SyntaxKind.VariableDeclarationNode)
	{
		variableDeclarationNode = (VariableDeclarationNode)syntaxViewModelLocal.DefinitionNode;
		
		prefixText = string.Empty;
		text = variableDeclarationNode.IdentifierToken.TextSpan.GetText();
		
		if (variableDeclarationNode.VariableKind == VariableKind.Field)
			textCssClass = "luth_te_field";
		else if (variableDeclarationNode.VariableKind == VariableKind.Property)
			textCssClass = "luth_te_property";
		else if (variableDeclarationNode.VariableKind == VariableKind.EnumMember)
			textCssClass = "luth_te_property";
		else
			textCssClass = "luth_te_variable";
		
		// 'variableDeclarationNode' was set at the start of code block.
	}
	else if (syntaxViewModelLocal.TargetNode is not null && syntaxViewModelLocal.TargetNode.SyntaxKind == SyntaxKind.VariableReferenceNode)
	{
		prefixText = "(reference)";
		text = ((VariableReferenceNode)syntaxViewModelLocal.TargetNode).VariableIdentifierToken.TextSpan.GetText();
		textCssClass = "luth_te_variable";
		variableDeclarationNode = null;
	}
	else if (syntaxViewModelLocal.TargetSymbol is not null &&
			 (syntaxViewModelLocal.TargetSymbol.Value.SyntaxKind == SyntaxKind.VariableSymbol ||
			  	syntaxViewModelLocal.TargetSymbol.Value.SyntaxKind == SyntaxKind.FieldSymbol ||
			  	syntaxViewModelLocal.TargetSymbol.Value.SyntaxKind == SyntaxKind.PropertySymbol ||
			  	syntaxViewModelLocal.TargetSymbol.Value.SyntaxKind == SyntaxKind.EnumMemberSymbol))
	{
		prefixText = "(symbol)";
		text = syntaxViewModelLocal.TargetSymbol.Value.TextSpan.GetText();
		textCssClass = "luth_te_variable";
		variableDeclarationNode = null;
	}
	else
	{
		prefixText = "(unrecognizable-state)";
		text = null;
		textCssClass = "luth_te_variable";
		variableDeclarationNode = null;
	}
}

<span>
	@if (syntaxViewModelLocal.Depth == 0 && !string.IsNullOrWhiteSpace(prefixText))
	{
		<span>
			@prefixText
			&nbsp;
		</span>
	}
	
	@if (variableDeclarationNode is not null)
	{
		var syntaxViewModel = new SyntaxViewModel(
			targetSymbol: null,
			targetNode: null,
			definitionNode: null,
			depth: syntaxViewModelLocal.Depth + 1);
    	<TypeSyntaxDisplay SyntaxViewModel="syntaxViewModel" TypeReference="variableDeclarationNode.TypeReference"/>
    	<text>&nbsp;</text>
    }
    else
    {
    	<span class="luth_te_keyword">
    		undefined
    		&nbsp;
    	</span>
    }
	
	@if (!string.IsNullOrWhiteSpace(text))
	{
		var classCssString = syntaxViewModelLocal.DefinitionNode is null
			? string.Empty
			: "luth_te_syntax-onclick";
	
		<span class="@classCssString @textCssClass"
			  @onclick="() => syntaxViewModelLocal.HandleOnClick(TextEditorService, SyntaxKind.VariableDeclarationNode)">
			@text
		</span>
	}
	
	@if (variableDeclarationNode is not null && variableDeclarationNode.VariableKind == VariableKind.Property)
    {
    	<span>
        	{
        	
        	<text><span class="luth_te_keyword"> get</span>;</text>
        	
        	@if (variableDeclarationNode.HasSetter)
        	{
        		<text><span class="luth_te_keyword"> set</span>;</text>
        	}
        	
        	}
    	</span>
    }
</span>