<div class="luth_ide_boolean-prompt-or-cancel"
     @onkeydown="HandleOnKeyDown">

    <div>
        @Message
    </div>

    @{ var localListOfMessages = ListOfMessages?.ToArray() ?? Array.Empty<string>(); }
    @if (ListOfMessages is not null)
    {
        <div>
            <div>Length: @localListOfMessages.Length</div>

            <ul>
                @foreach (var message in localListOfMessages)
                {
                    <li>@message</li>
                }
            </ul>
        </div>
    }

    <div style="display: flex; justify-content: space-between;">
        <button class="luth_button"
                @onclick="AcceptAsync">
            @(AcceptOptionTextOverride ?? "Accept")
        </button>

        <button class="luth_button"
                @ref="_declineButtonElementReference"
                @onclick="DeclineAsync">
            @(DeclineOptionTextOverride ?? "Decline")
        </button>
        
        @if (IncludeCancelOption)
        {
            <button class="luth_button"
                    @onclick="CancelAsync">
                Cancel
            </button>
        }
    </div>
</div>