@using Luthetus.Common.RazorLib.Tabs.Displays
@using Luthetus.Common.RazorLib.Contexts.Displays
@using Luthetus.Common.RazorLib.Contexts.Models
@using Luthetus.TextEditor.RazorLib.TextEditors.Displays
@using Luthetus.TextEditor.RazorLib.TextEditors.Displays.Internals
@using Luthetus.TextEditor.RazorLib.Groups.Displays
@using Luthetus.Ide.RazorLib.Editors.Models

<ContextBoundary ContextRecord="_viewModelDisplayOptions.ContextRecord"
                 ClassCssString="luth_ide_editor-display"
                 StyleCssString="@EditorElementDimensions.StyleString">

	@if (AppOptionsService.ShowPanelTitles)
	{
	    <div class="luth_ide_section-title">
	        Editor
	    </div>
    }

    <div class="luth_ide_section-body luth_te_text-editor-group @AppOptionsService.ShowPanelTitlesCssClass"
         id="@HtmlId">
    
    	@{
	        var textEditorGroup = TextEditorService.GroupApi.GetTextEditorGroupState().GroupList.FirstOrDefault(
	            x => x.GroupKey == EditorIdeApi.EditorTextEditorGroupKey);
	    }
    
    	@if (textEditorGroup is not null)
    	{
    		<div class="luth_te_text-editor-group-tabs-list">
				<TabListDisplay @ref="_tabListDisplay"
								TabList="@GetTabList(textEditorGroup)"/>
			</div>
	
			<div class="luth_te_text-editor-group-active-view-model">
			
				@{
		            var textEditorModel = TextEditorService.ViewModelApi.GetModelOrDefault(
		                textEditorGroup.ActiveViewModelKey);
		    
		            if (textEditorModel is null)
		            {
		                <text>No editors are open currently</text>
		            }
		            else
		            {
		            	<FindOverlayDisplay ComponentDataKey="_componentDataKey"/>
		            
						<TextEditorFileExtensionHeaderDisplay ComponentDataKey="_componentDataKey"
						                                      TextEditorViewModelKey="textEditorGroup.ActiveViewModelKey"/>
		            	
		                <TextEditorViewModelSlimDisplay TextEditorViewModelKey="textEditorGroup.ActiveViewModelKey"
		                                                ViewModelDisplayOptions="_viewModelDisplayOptions"/>
		                           
						<TextEditorDefaultFooterDisplay ComponentDataKey="_componentDataKey"/>
		            }
	            }
            </div>
	    }
	    else
	    {
	        <div>
	            Group not found
	        </div>
	    }
    </div>
</ContextBoundary>