@using Luthetus.Ide.RazorLib.FileSystemCase
@using Luthetus.Ide.RazorLib.FileSystemCase.Models;

<span class="luth_ide_solution-explorer-icon-display">
    @if (AbsolutePath.IsDirectory)
    {
        if (AbsolutePath.NameNoExtension == UniqueFileFacts.Properties)
        {
            <IconProperties/>
        }
        else if (AbsolutePath.NameNoExtension == UniqueFileFacts.WwwRoot)
        {
            <IconWwwRoot/>
        }
        else
        {
            <IconFolder/>
        }
    }
    else
    {
        switch (AbsolutePath.ExtensionNoPeriod)
        {
            case ExtensionNoPeriodFacts.DOT_NET_SOLUTION:
                <IconDotNetSolution/>
                break;
            case ExtensionNoPeriodFacts.C_SHARP_PROJECT:
                <IconCSharpProject/>
                break;
            case ExtensionNoPeriodFacts.C_SHARP_CLASS:
            case ExtensionNoPeriodFacts.RAZOR_CODEBEHIND:
                <IconCSharpClass/>
                break;
            case ExtensionNoPeriodFacts.CSHTML_CLASS:
                <IconCshtml/>
                break;
            case ExtensionNoPeriodFacts.RAZOR_MARKUP:
                <IconRazor/>
                break;
            case ExtensionNoPeriodFacts.JSON:
                <IconJson/>
                break;
            case ExtensionNoPeriodFacts.CSS:
                <IconCss/>
                break;
            case ExtensionNoPeriodFacts.JAVA_SCRIPT:
                <IconJs/>
                break;
            case ExtensionNoPeriodFacts.TYPE_SCRIPT:
                <IconTs/>
                break;
            default:
                <IconFile/>
                break;
        }
    }
</span>
