<div class="luth_ide_new-terminal-panel">

	@{ var localTerminalOutputSelection = _terminalOutputSelection; }

	<div style="height: 1.5em">
		<select @bind="_terminalOutputSelection">
			<option>TerminalOutputStringBuilderAll</option>
			<option>TerminalOutputStringBuilderExpand</option>
			<option>TerminalOutputTextEditorAll</option>
			<option>TerminalOutputTextEditorExpand</option>
		</select>
	</div>

	<div style="height: calc(100% - 1.5em);">
		
		@switch (localTerminalOutputSelection)
		{
			case "TerminalOutputStringBuilderAll":
				<TerminalOutputStringBuilderAllDisplay/>
				break;
			case "TerminalOutputStringBuilderExpand":
				<TerminalOutputStringBuilderExpandDisplay/>
				break;
			case "TerminalOutputTextEditorAll":
				<TerminalOutputTextEditorAllDisplay/>
				break;
			case "TerminalOutputTextEditorExpand":
				<TerminalOutputTextEditorExpandDisplay/>
				break;
			default:
				<text>@localTerminalOutputSelection was not recognized</text>
				break;
		}
		
	</div>
	
</div>