<div class="luth_ide_new-terminal-panel">

	@{ var localTerminalOutputSelection = _terminalOutputSelection; }

	<div style="height: 1.5em">
		<select @bind="_terminalOutputSelection">
			<option>TerminalOutputStringBuilder</option>
			<option>TerminalOutputExpand</option>
			<option>TerminalOutputTextEditor</option>
		</select>
	</div>

	<div style="height: calc(100% - 1.5em);">
		
		@switch (localTerminalOutputSelection)
		{
			case "TerminalOutputStringBuilder":
				<TerminalOutputStringBuilderDisplay/>
				break;
			case "TerminalOutputExpand":
				<TerminalOutputExpandDisplay/>
				break;
			case "TerminalOutputTextEditor":
				<TerminalOutputTextEditorOuterDisplay/>
				break;
			default:
				<text>@localTerminalOutputSelection was not recognized</text>
				break;
		}
		
	</div>
	
</div>