@using Luthetus.Common.RazorLib.Keys.Models
@using Luthetus.Common.RazorLib.ShouldRenderBoundaries.Displays
@using Luthetus.TextEditor.RazorLib.TextEditors.Displays.Internals
@using Luthetus.TextEditor.RazorLib.TextEditors.Models
@using Luthetus.Ide.RazorLib.Terminals.Models.NewCode
@using Luthetus.Ide.RazorLib.Terminals.Models;
@using Luthetus.Ide.RazorLib.Terminals.Displays;

@{
	var localTerminal = _terminal;
	
	var workingDirectory = localTerminal.TerminalInteractive.WorkingDirectory
		?? "null";
	
	var paddingForWorkingDirectoryText = 2;	
	var workingDirectoryTextWidth = workingDirectory.Length + paddingForWorkingDirectoryText;
}

<div class="luth_ide_new-terminal-panel">

	<div style="height: calc(100% - 2em);">
		<TerminalOutputTextEditorInnerDisplay TerminalOutputTextEditor="(TerminalOutputTextEditor)localTerminal.TerminalOutput"/>
	</div>

	<div style="height: 2em; display: flex;">
		<input type="text"
			   style="width: @(workingDirectoryTextWidth)ch; height: 100%;"
			   title="Working directory"
			   readonly
			   value="@workingDirectory" />
			   
		<input @bind="_command"
		       @bind:event="oninput"
			   @onkeydown="HandleOnKeyDown"
			   type="text"
			   style="width: calc(100% - @(workingDirectoryTextWidth)ch); height: 100%;"
			   title="Command" />
	</div>

</div>