<div class="luth_ide_terminal-output-view-output"
	 style="height: 100%;">
	@{
		var localTerminalOutput = TerminalOutput;
		var localTerminalCommandParsed = TerminalCommandParsed;
		
		var outputText = localTerminalOutput
			.GetParsedCommandOrDefault(
				localTerminalCommandParsed.SourceTerminalCommandRequest.Key)
			.OutputCache.ToString()
			?? "output was null";
	}
	
	<textarea value="@outputText"
			  style="resize: none; width: 100%; height: 100%; font-family: monospace; white-space: pre; overflow-wrap: normal; overflow-x: scroll;"
		  	readonly/>
</div>
