<div class="luth_ide_terminal-command-parsed-expand">
	<div>
		<span @onclick="ToggleIsExpanded"
			  style="cursor: pointer;">
			@if (_isExpanded)
			{
				<IconChevronDown/>
			}
			else
			{
				<IconChevronRight/>
			}
		</span>
	
		@TerminalCommandParsed.SourceTerminalCommandRequest.CommandText
	</div>
	<div style="margin-left: 8px; padding-left: 8px; margin-right: 8px; border-left: 1px var(--luth_primary-border-color) solid;">
		@if (_isExpanded)
		{
			<textarea value="@OutputBuilder.ToString()"
		              style="resize: none; height: calc(100% - 2em); width: 100%;"
		              title="Output"
		      	    readonly/>
		}
	</div>
</div>
