@using Luthetus.Ide.RazorLib.Terminals.Models.NewCode;

@{
	var localTerminal = _terminal;
	var commandOutputList = ((TerminalOutputExpand)localTerminal.TerminalOutput).GetCommandOutputList();
	
	var workingDirectory = localTerminal.TerminalInteractive.WorkingDirectory
		?? "null";
	
	var paddingForWorkingDirectoryText = 2;	
	var workingDirectoryTextWidth = workingDirectory.Length + paddingForWorkingDirectoryText;
}

<div class="luth_ide_new-terminal-panel">

	<div style="height: calc(100% - 2em);">
		@foreach (var commandTuple in commandOutputList)
		{
			<TerminalCommandParsedExpandDisplay @key="commandTuple.terminalCommandParsed.SourceTerminalCommandRequest.Key"
												TerminalCommandParsed="commandTuple.terminalCommandParsed"
												OutputBuilder="commandTuple.outputBuilder"/>
		}
	</div>
	
	<div style="height: 2em; display: flex;">
		<input type="text"
			   style="width: @(workingDirectoryTextWidth)ch; height: 100%;"
			   title="Working directory"
			   readonly
			   value="@workingDirectory" />
			   
		<input @bind="_command"
		       @bind:event="oninput"
			   @onkeydown="HandleOnKeyDown"
			   type="text"
			   style="width: calc(100% - @(workingDirectoryTextWidth)ch); height: 100%;"
			   title="Command" />
	</div>

</div>