@using Luthetus.Extensions.DotNet.Outputs.Displays.Internals
@using Luthetus.Common.RazorLib.Contexts.Displays
@using Luthetus.Common.RazorLib.Contexts.Models

<ContextBoundary ContextRecord="ContextFacts.OutputContext"
                 ClassCssString="luth_output-panel-display"
                 StyleCssString="height: 100%; width: 100%; overflow: auto;">

	@if (AppOptionsService.ShowPanelTitles)
	{
		<div class="luth_ide_section-title">
	        Output
	    </div>
    }

	<div class="luth_ide_section-body @AppOptionsService.ShowPanelTitlesCssClass">
		<OutputDisplay/>
	</div>
</ContextBoundary>
