/* _content/Luthetus.Ide.RazorLib/CodeSearches/Displays/CodeSearchDisplay.razor.rz.scp.css */
.luth_ide_find-all[b-w1o94sdzii] {
    height: 100%;
}

.luth_ide_find-all-top-content[b-w1o94sdzii] {
    overflow: auto;
}

.luth_ide_find-all-filter-list[b-w1o94sdzii] {
    display: flex;
}

.luth_ide_find-all-filter-list > .luth_ide_find-all-filter[b-w1o94sdzii] {
    margin-right: 5px;
}

.luth_ide_find-all-filter[b-w1o94sdzii] {
    background-color: var(--luth_active-no-focus-background-color);
}

    .luth_ide_find-all-filter.luth_active[b-w1o94sdzii] {
        background-color: var(--luth_active-with-focus-background-color);
    }
/* _content/Luthetus.Ide.RazorLib/CommandBars/Displays/CommandBarDisplay.razor.rz.scp.css */
.luth_ide_command-bar[b-s12ovybllc] {
	width: 100%;
	height: 100%;
}
/* _content/Luthetus.Ide.RazorLib/Editors/Displays/EditorDisplay.razor.rz.scp.css */
.luth_ide_editor-display[b-i4x75t8qdj] {
    height: 100%;
	overflow: hidden;
}
/* _content/Luthetus.Ide.RazorLib/Notifications/Displays/NotificationsDisplay.razor.rz.scp.css */
.luth_ide_folder-notifications[b-8sywka351y] {
    height: 100%;
}
/* _content/Luthetus.Ide.RazorLib/Settings/Displays/SettingsDisplay.razor.rz.scp.css */
.luth_ide_settings[b-wigdgv92em] {
    padding: 5px;
}

.luth_ide_settings-scope-border[b-wigdgv92em] {
    padding: 0 !important;
    background-color: var(--luth_primary-border-color);
    opacity: 0.7;
    position: absolute;
    left: 0;
    top: 0;
    width: 2px;
    height: 100%;
    margin-left: 6px;
}

.luth_ide_settings-scope-title[b-wigdgv92em] {
    color: var(--luth_primary-emphasis-foreground-color);
}

.luth_ide_settings-scope-body[b-wigdgv92em] {
    position: relative;
    padding-left: 12px;
}

.luth_ide_settings-scope-body > div[b-wigdgv92em] {
    padding: 7px 5px;
    margin-bottom: 7px;
}
/* _content/Luthetus.Ide.RazorLib/Shareds/Displays/Internals/IdeDevelopmentDisplay.razor.rz.scp.css */
button[b-29blt3z1e9] {
    margin-top: 7px;
}
/* _content/Luthetus.Ide.RazorLib/Shareds/Displays/Internals/IdeInfoDisplay.razor.rz.scp.css */
table[b-3571gv473k], th[b-3571gv473k], td[b-3571gv473k] {
	border: 1px solid var(--luth_primary-border-color);
	margin-top: 8px;
	padding: 5px;
}

pre[b-3571gv473k] {
	 background-color: var(--luth_te_body-background-color);
	 margin-top: 5px;
	 padding: 5px;
}
/* _content/Luthetus.Ide.RazorLib/StartupControls/Displays/StartupControlDisplay.razor.rz.scp.css */
.luth_ide_startup-controls-display[b-cepfukt83m] {
    display: flex;
    margin-left: 15px;
}

.luth_ide_startup-controls-display-entry[b-cepfukt83m] {
    display: flex;
    align-items: center;
    margin-left: 15px;
}
/* _content/Luthetus.Ide.RazorLib/Terminals/Displays/TerminalGroupDisplay.razor.rz.scp.css */
.luth_ide_section-body[b-z1tqs2fkb6] {
    width: 100%;
    display: flex;
}
/* _content/Luthetus.Ide.RazorLib/Terminals/Displays/TerminalOutputTextEditorExpandDisplay.razor.rz.scp.css */
.luth_ide_new-terminal-panel[b-mbxoy5w1k8] {
	display: flex;
	flex-direction: column;
	height: 100%;
	font-family: monospace;
}
