<div class="luth_ide_compiler-service-resource">
    <div>
        ResourceUri:&nbsp;@CompilerServiceResource.ResourceUri.Value
    </div>
    <div>
        ModelKey:&nbsp;@CompilerServiceResource.ModelKey
    </div>
</div>