<div class="luth_ide_integrated-terminal">

    <div>netcoredbg --interpreter=cli -- dotnet \Users\hunte\Repos\Demos\BlazorApp4NetCoreDbg\BlazorApp4NetCoreDbg\bin\Debug\net6.0\BlazorApp4NetCoreDbg.dll</div>

    <hr/>
    @{
        var startButtonIsDisabled = !_terminalTask.IsCompleted;
        var cancelButtonIsDisabled = _terminalTask.IsCompleted;
    }

    <button @onclick="StartTerminalOnClick"
            class="luth_button"
            disabled=@startButtonIsDisabled>
        Start
    </button>

    <button @onclick="CancelTerminalOnClick"
            class="luth_button"
            disabled=@cancelButtonIsDisabled>
        Cancel
    </button>

    @if (!_terminalTask.IsCompleted)
    {
        <IconLoading/>

        <div>
            <label>_targetFilePath</label>
            <input class="luth_ide_input luth_ide_input-text"
                   style="width: 100%;"
                   placeholder="_targetFilePath"
                   @bind="_targetFilePath"
                   @bind:event="oninput"
                   @onkeydown="StdInHandleOnKeyDown" />
        </div>
        <div>
            <label>_arguments</label>
            <input class="luth_ide_input luth_ide_input-text"
                   style="width: 100%;"
                   placeholder="_arguments"
                   @bind="_arguments"
                   @bind:event="oninput"
                   @onkeydown="StdInHandleOnKeyDown" />
        </div>
        <div>
            <label>_stdIn</label>
            <input class="luth_ide_input luth_ide_input-text"
                   style="width: 100%;"
                   placeholder="_stdIn"
                   @bind="_stdIn"
                   @bind:event="oninput"
                   @onkeydown="StdInHandleOnKeyDown" />
        </div>
    }

    <div>
        @_cliWrapIntegratedTerminal.Render()
    </div>
</div>