<div class="@_wrapperCssClass"
	 style="@_wrapperCssStyle position:absolute;">
	<div class="luth_te_measure-character-width-and-row-height-wrapper luth_te_row">
	    <div class="luth_te_measure-character-width-and-row-height luth_te_row"
	         id="@_measureCharacterWidthAndRowHeightElementId">
	
	        @for (var i = 0; i < TEST_STRING_REPEAT_COUNT; i++)
	        {
	            <text>
	                @TEST_STRING_FOR_MEASUREMENT
	            </text>
	        }
	    </div>
	</div>
</div>