@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@{ 
	var localExecutingTerminalCommand = _executingTerminalCommand;
	bool isExecuting;
	
	if (localExecutingTerminalCommand is null)
	{
		isExecuting = false;
	}
	else
	{
		isExecuting = !localExecutingTerminalCommand.IsCompleted;
	}
}

<div class="luth_ide_startup-controls-display">
   <div class="luth_ide_startup-controls-display-entry">
       StartupProject:
       &nbsp;
       @(ProgramExecutionStateWrap.Value.StartupProjectAbsolutePath?.NameNoExtension ?? "null")
       &nbsp;
   </div>
   <div class="luth_ide_startup-controls-display-entry">
        <button @ref="_startButtonElementReference"
        	    @onclick="() => StartProgramWithoutDebuggingOnClick(isExecuting)"
                class="luth_button"
                id="@_startButtonElementId"
                disabled=@(ProgramExecutionStateWrap.Value.StartupProjectAbsolutePath is null)
                title="Start without debugging">
            
            @if (isExecuting)
            {
				<IconStopCircle/>
            }
            else
            {
				<IconStartWithoutDebugging/>
            }
        </button>
   </div>
</div>