@using Luthetus.Ide.RazorLib.Outputs.Displays.Internals

<div class="luth_output-panel-display">
	<div class="luth_ide_section-title">
        Output
    </div>

	<div class="luth_ide_section-body">
		<OutputDisplay/>
	</div>
</div>