@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<div class="luth_te_text-editor-input luth_te_text-editor-input-use-monospace-optimizations @TextEditorService.ThemeCssClassString @TopLevelDivElementCssClassString">
    <span class="@LabelElementCssClassString">
        Use Monospace Optimizations:&nbsp;
    </span>
    
    <input class="@CascadingInputElementCssClass @InputElementCssClassString" 
           type="checkbox" 
           @bind="UseMonospaceOptimizations" />
</div>