@using Fluxor
@using Luthetus.Ide.Photino
@using Luthetus.Common.RazorLib.Installations.Models
@using Luthetus.Common.RazorLib.BackgroundTasks.Models
@using Luthetus.Common.RazorLib.Dialogs.Models
@using Luthetus.Common.RazorLib.Dialogs.Displays
@using Luthetus.Common.RazorLib.Dynamics.Models
@using Luthetus.Common.RazorLib.Keys.Models
@using Luthetus.TextEditor.RazorLib.Installations.Models
@using Luthetus.Ide.RazorLib.Installations.Models

@inherits TestContext
@code
{
	[Fact]
	public void HelloWorldComponentRendersCorrectly()
	{
		var hostingInformation = new LuthetusHostingInformation(
			LuthetusHostingKind.UnitTestingAsync,
			new BackgroundTaskService());
		
		Services.AddLuthetusIdeRazorLibServices(hostingInformation);
		
		Services.AddFluxor(options => options.ScanAssemblies(
			typeof(LuthetusCommonConfig).Assembly,
			typeof(LuthetusTextEditorConfig).Assembly,
			typeof(LuthetusIdeConfig).Assembly));
		
		// Act
		var cut = Render(@<HelloWorld/>);
		
		// Assert
		cut.MarkupMatches(@<h1>Hello world from Blazor</h1>);
	}
}