@using Luthetus.Common.RazorLib.FileSystem.Interfaces;
@using Luthetus.Ide.RazorLib.InputFileCase

<div class="luth_ide_input-file-display-top-nav-bar">
    <div class="luth_ide_input-file-display-top-nav-bar-buttons">
        <button class="luth_button"
                disabled=@(!InputFileState.CanMoveBackwardsInHistory)
                @onclick="HandleBackButtonOnClick">
            <IconArrowLeft/>
        </button>
        
        <button disabled=@(!InputFileState.CanMoveForwardsInHistory)
                class="luth_button"
                @onclick="HandleForwardButtonOnClick">
            <IconArrowRight/>
        </button>
    
        <button class="luth_button"
                @onclick="HandleUpwardButtonOnClick">
            <IconArrowUp/>
        </button>
        
        <button class="luth_button"
                @onclick="HandleRefreshButtonOnClick">
            <IconRefresh/>
        </button>
    </div>
    
    <div class="luth_ide_input-file-display-top-nav-bar-address">
        <div class="luth_ide_input-file-display-top-nav-bar-address-hierarchy"
             @onclick="() => _showInputTextEditForAddress = true">
            
            @if (InputFileState.IndexInHistory < InputFileState.OpenedTreeViewModelHistory.Count)
            {
                var openedTreeView = InputFileState.GetOpenedTreeView();

                if (openedTreeView?.Item is not null)
                {
                    if (_showInputTextEditForAddress)
                    {
                        <InputFileEditAddress InitialInputValue="@openedTreeView.Item.FormattedInput"
                                              OnFocusOutCallbackAsync="InputFileEditAddressOnFocusOutCallbackAsync"
                                              OnEscapeKeyDownCallbackAsync="HideInputFileEditAddressAsync"/>
                    }
                    else
                    {
                        foreach (var directory in openedTreeView.Item.AncestorDirectories)
                        {
                            if (directory is IAbsolutePath absolutePath)
                            {
                                <InputFileAddressHierarchyEntry AbsolutePath="absolutePath"/>
                            }
                        }

                        <InputFileAddressHierarchyEntry AbsolutePath="openedTreeView.Item"/>
                    }
                }
            }
        </div>
    </div>
    
    <div class="luth_ide_input-file-display-top-nav-bar-search">
        <button @onclick="FocusSearchElementReferenceOnClickAsync"
                class="luth_button luth_ide_input-file-search-button">
            <IconSearch/>
        </button>
        
        <input @ref="SearchElementReference"
               @bind="SearchQuery"
               @bind:event="oninput"
               class="luth_ide_input luth_ide_input-file-search-input"/>
    </div>
</div>