<button class="bcrl_button @IsDisabledCssClass @CssClassString"
        style="@CssStyleString"
        @ref="_buttonElementReference"
        @onclick="FireOnClickAction"
        @onclick:stopPropagation="OnClickStopPropagation">
    @ChildContent
</button>