<div class="luth_ide_background-task">
    <div class="luth_ide_background-task-title">
        @ParserTask.Name
    </div>
    
    <div class="luth_ide_background-task-body">
        @ParserTask.Description
    </div>
</div>