@*
@{ var renderBatchLocal = RenderBatch; }

@if (renderBatchLocal.ConstructorWasInvoked)
{
	<div class="luth_te_command-bar"
	     @onmousedown:stopPropagation="true"
	     @onmousemove:stopPropagation="true"
	     @ondblclick:stopPropagation="true"
	     @onclick:stopPropagation="true"
	     @oncontextmenu:stopPropagation="true"
	     @onkeydown:stopPropagation="true">
	    
	    <input class="luth_ide_input luth_ide_input-text luth_te_command-bar-input"
	           @bind="@renderBatchLocal.ViewModel.CommandBarValue"
	           @bind:event="oninput"
	           @ref="_commandBarDisplayElementReference"
	           @onkeydown="HandleOnKeyDown"
	           @onkeydown:stopPropagation="true"/>
	</div> 
}
*@