@using Luthetus.Common.RazorLib.Menus.Displays

@{ var renderBatch = GetRenderBatch(); }

@if (renderBatch is not null)
{
	<div @ref="_textEditorContextMenuElementReference"
	     tab-index="-1"
	     class="luth_ide_text-editor-context-menu"
	     @onkeydown="HandleOnKeyDown">
	
	    <CascadingValue Name="ReturnFocusToParentFuncAsync"
	                    Value="ReturnFocusToThisAsync">
	        
	        <MenuDisplay MenuRecord="GetMenuRecord()"/>
	    </CascadingValue>
	</div>
}
