<div class="luth_te_measure-character-width-and-row-height-wrapper luth_te_row">
    <div class="luth_te_measure-character-width-and-row-height luth_te_row"
         id="@HtmlElementId">

        @for (var i = 0; i < _testStringRepeatCount; i++)
        {
            <text>
                @_testStringForMeasurement
            </text>
        }
    </div>
</div>
