@using Luthetus.TextEditor.RazorLib.TextEditors.Displays;

<div class="luth_te_readonly-text-editor">
    <TextEditorViewModelDisplay TextEditorViewModelKey="TextEditorViewModelKey"
                                ViewModelDisplayOptions="_textEditorViewModelDisplayOptions" />
</div>
