@using Luthetus.TextEditor.RazorLib.TextEditors.Displays;

<div class="luth_ide_terminal">
    <TextEditorViewModelDisplay TextEditorViewModelKey="TextEditorViewModelKey"
                                ViewModelDisplayOptions="_textEditorViewModelDisplayOptions" />
</div>