@using Luthetus.Common.RazorLib.Dimensions;
@using Luthetus.TextEditor.RazorLib.TextEditors.Models.Internals;
@using Luthetus.Common.RazorLib.Dimensions.Models;

<div class="luth_te_scrollbar luth_te_scrollbar-vertical"
     id="@ScrollbarElementId"
     @onmousedown:stopPropagation="true"
     @onmousedown="HandleOnMouseDownAsync"
     @onmousemove:stopPropagation="true"
     @ondblclick:stopPropagation="true"
     @onclick:stopPropagation="true"
     @oncontextmenu:stopPropagation="true">
         
    <div class="luth_te_scrollbar-slider"
         id="@ScrollbarSliderElementId"
         style="left: 0; width: @(ScrollbarFacts.SCROLLBAR_SIZE_IN_PIXELS.ToCssValue())px; @GetSliderVerticalStyleCss()">
    </div>
</div>