@code {
	public static RenderFragment<VirtualizationDriver> GetRenderFragment = driver => 
	@<text>
		@if (driver.UseHorizontalVirtualization)
		{
			<div class="luth_te_virtualization-boundary-display luth_te_virtualization-boundary-display_left">
			</div>
		
		    <div class="luth_te_virtualization-boundary-display luth_te_virtualization-boundary-display_right">
			</div>
		}
		
		@if (driver.UseVerticalVirtualization)
		{
			<div class="luth_te_virtualization-boundary-display luth_te_virtualization-boundary-display_top">
			</div>
		
		    <div class="luth_te_virtualization-boundary-display luth_te_virtualization-boundary-display_bottom">
			</div>
		}
	</text>;
}