@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@{ var dirtyResourceUriState = DirtyResourceUriStateWrap.Value; }

<div class="luth_web_dirty-text-editor-models-view">
    <h3>DirtyResourceUriViewDisplay</h3>
    
    <hr/>
    
    @{ var localDirtyResourceUriList = dirtyResourceUriState.DirtyResourceUriList; }
    @foreach (var dirtyResourceUri in localDirtyResourceUriList)
    {
        var absolutePath = EnvironmentProvider.AbsolutePathFactory(dirtyResourceUri.Value, false);

        <div>
            <label>Open in editor:</label>
            <button class="luth_button"
                    style="display: inline; margin-bottom: 15px;"
                    title="@absolutePath.Value"
                    @onclick="() => OpenInEditorOnClick(dirtyResourceUri.Value)">
                @absolutePath.NameWithExtension
            </button>
        </div>
    }
</div>
