@using Luthetus.Common.RazorLib.OutOfBoundsClicks.Displays

@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@if (ShouldDisplay)
{
    if (ShouldDisplayOutOfBoundsClickDisplay)
    {
        <OutOfBoundsClickDisplay ZIndex="15"
                                 OnClickCallback="ClearActiveKeyList" />    
    }
    
    <div class="luth_dropdown-display"
         @onclick:stopPropagation="true"
         style="@DropdownPositionKindStyleCss @CssStyleString">

        <CascadingValue Value="DropdownKey">
            @ChildContent
        </CascadingValue>
    </div>
}