@using Luthetus.Ide.RazorLib.File

@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@{
    var gitFile = TreeViewGitFile.Item;

    var cssClass = "luth_ide_git-file"; 
}

<div class="@cssClass"
     title="@gitFile.GitDirtyReason">

    @{
        var gitState = GitStateWrap.Value;

        string shortenedParentDirectoryFilePathString = gitFile.AbsoluteFilePath
        .GetAbsoluteFilePathString();

        if (gitFile.AbsoluteFilePath.ParentDirectory is not null &&
        gitState.GitFolderAbsoluteFilePath?.ParentDirectory is not null)
        {
        }
    }

    <FileIconDisplay AbsoluteFilePath="gitFile.AbsoluteFilePath" />

    <em class="luth_em">
        @gitFile.AbsoluteFilePath.FilenameWithExtension
    </em>

    <span>
        @shortenedParentDirectoryFilePathString
    </span>
</div>
