/* _content/Luthetus.Extensions.Config/Component1.razor.rz.scp.css */
.my-component[b-398jbnbmqm] {
    border: 2px dashed red;
    padding: 1em;
    margin: 1em 0;
    background-image: url('background.png');
}
