@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@{ var dialogList = DialogStateWrap.Value.DialogList; }

<div class="luth_dialog-initializer">
	@foreach (var dialog in dialogList)
	{
	    <DialogDisplay @key="dialog.DynamicViewModelKey" 
	                   Dialog="dialog" />
	}
</div>
