@{ var contextState = CommonApi.ContextApi.GetContextState(); }

<div class="luth_ide_context-initializer">

    @if (contextState.IsSelectingInspectionTarget)
    {
        foreach (var inspectableContext in contextState.InspectableContextList)
        {
            // TODO: App crashes when using: @key="inspectableContext.ContextHeirarchy.NearestAncestorKey"
            <ContextBoundaryOverlay InspectableContext="inspectableContext" />
        }
    }
</div>
