@using Luthetus.Common.RazorLib.Menus.Displays

<div class="luth_context-switch"
	 style="display: flex; justify-content: space-evenly;">
    
    @{ var contextSwitchState = ContextSwitchStateWrap.Value; }
    
    @if (hasCalculatedGroupMenuTupleList)
    {
    	foreach (var tuple in _groupMenuTupleList)
		{
			<div>
				@tuple.ContextSwitchGroupTitle
				<MenuDisplay MenuRecord="tuple.Menu"/>
			</div>
		}
    }
</div>
