<div id="@ContextRecord.ContextElementId"
     class="luth_ide_context-boundary @ClassCssString"
     style="@StyleCssString"
     tabindex="@TabIndex"
     @onfocus="EventUtil.AsNonRenderingEventHandler(HandleOnFocus)"
     @onblur="EventUtil.AsNonRenderingEventHandler(HandleOnBlur)"
     @onfocusin="EventUtil.AsNonRenderingEventHandler(HandleOnFocusIn)"
     @onfocusin:stopPropagation="true"
     @onkeydown="EventUtil.AsNonRenderingEventHandler<KeyboardEventArgs>(HandleOnKeyDownAsync)"
     @onkeydown:stopPropagation="true">
	
    <CascadingValue Value="this">
        @ChildContent
    </CascadingValue>

    <ContextBoundaryMeasurer ContextRecord="ContextRecord"
                             GetContextBoundaryHeirarchy="() => GetContextBoundaryHeirarchy(new())"/>
</div>