@using Luthetus.Common.RazorLib.Menus.Displays

<div class="luth_context-switch">
    
    @{ var contextState = ContextStateWrap.Value; }
    
    luth_context-switch

    <div>
        <MenuDisplay MenuRecord="_menu"/>
    </div>
</div>