@using Fluxor.Blazor.Web.Components

@inherits FluxorComponent

@{ var contextStates = ContextStateWrap.Value; }

<div class="luth_ide_context-initializer">

    @if (contextStates.IsSelectingInspectionTarget)
    {
        foreach (var inspectableContext in contextStates.InspectableContextList)
        {
            // TODO: App crashes when using: @key="inspectableContext.ContextHeirarchy.NearestAncestorKey"
            <ContextBoundaryOverlay InspectableContext="inspectableContext" />
        }
    }
</div>
