@using Luthetus.Common.RazorLib.Installations.Displays
@using Luthetus.TextEditor.RazorLib.Installations.Displays
@using Luthetus.Tutorials.RazorLib.Shared;

<Fluxor.Blazor.Web.StoreInitializer />

<LuthetusCommonInitializer />
<LuthetusTextEditorInitializer />

<Router AppAssembly="@typeof(App).Assembly" AdditionalAssemblies="new [] { typeof(Luthetus.Tutorials.RazorLib.Shared.MainLayout).Assembly }">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>