<div class="luth_ide_background-services">
    <div class="luth_ide_section-title">
        Background Tasks
    </div>

    <div class="luth_ide_section-body">
        <BackgroundServiceDisplay BackgroundTaskQueue="LuthetusCommonBackgroundTaskService"
                                  DisplayName="Common"/>

        <hr />

        <BackgroundServiceDisplay BackgroundTaskQueue="LuthetusTextEditorTextEditorBackgroundTaskService"
                                  DisplayName="TextEditor" />

        <hr />

        <BackgroundServiceDisplay BackgroundTaskQueue="LuthetusTextEditorCompilerServiceBackgroundTaskService"
                                  DisplayName="CompilerService" />

        <hr/>

        <BackgroundServiceDisplay BackgroundTaskQueue="LuthetusIdeFileSystemBackgroundTaskService"
                                  DisplayName="FileSystem" />

        <hr />

        <BackgroundServiceDisplay BackgroundTaskQueue="LuthetusIdeTerminalBackgroundTaskService"
                                  DisplayName="Terminal" />
    </div>
</div>