<div class="luth_ide_background-services">
    <div class="luth_ide_section-title">
        Background Tasks
    </div>

    <div class="luth_ide_section-body">
        <BackgroundServiceDisplay BackgroundTaskQueue="LuthetusCommonBackgroundTaskService" />
        <BackgroundServiceDisplay BackgroundTaskQueue="LuthetusIdeFileSystemBackgroundTaskService" />
        <BackgroundServiceDisplay BackgroundTaskQueue="LuthetusIdeTerminalBackgroundTaskService" />
        <BackgroundServiceDisplay BackgroundTaskQueue="LuthetusTextEditorCompilerServiceBackgroundTaskService" />
        <BackgroundServiceDisplay BackgroundTaskQueue="LuthetusTextEditorTextEditorBackgroundTaskService" />
    </div>
</div>