<div class="luth_ide_background-service">
    <div class="luth_ide_background-service-title">
        <em class="luth_em" title="@(BackgroundTaskQueue.GetType().Name).cs">
           @DisplayName
        </em>
    </div>

    <div class="luth_ide_background-service-body">
        <div>Executing:&nbsp;@(BackgroundTaskQueue.ExecutingBackgroundTask?.Name ?? "null")</div>
        <div>Pending:&nbsp;@BackgroundTaskQueue.PendingBackgroundTasks.Length</div>
        <div>Completed:&nbsp;@BackgroundTaskQueue.CompletedBackgroundTasks.Length</div>
    </div>
</div>