@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@{
	var terminalSession = TerminalSessionsStateSelection.Value;
	var output = terminalSession.ReadStandardOut(
		TreeViewStringFragment.Item.DotNetTestByFullyQualifiedNameFormattedTerminalCommandKey);
}

@{
	RenderFragment renderFragment = @<text>?</text>;
}

@if (output is null)
{
	renderFragment = @<text>?</text>;
}
else if (!output.Contains("Duration:"))
{
	renderFragment = @<IconLoading/>;
}
else
{
	if (output.Contains("Passed!"))
	{
		renderFragment = @<text>Passed!</text>;
	}
	else
	{
		renderFragment = @<text>Failed!</text>;
	}
}

<div style="display: flex;">
	@renderFragment&nbsp;
	@TreeViewStringFragment.Item.Value

	@if (TreeViewStringFragment.ChildList.Count > 0)
	{
		<span title="Count of child nodes">
			&nbsp;(@(TreeViewStringFragment.ChildList.Count))
		</span>
	}
</div>
