<span title="@TreeViewProjectTestModel.Item.DirectoryNameForTestDiscovery">
	@TreeViewProjectTestModel.Item.AbsolutePath.NameWithExtension

	COUNT:@TreeViewProjectTestModel.Item.DotNetTestListTestsCommandOutput.Count

	@(string.Join('z', TreeViewProjectTestModel.Item.DotNetTestListTestsCommandOutput))
</span>
