<div>

	@{
		var iconDriver = new IconDriver(
			AppOptionsStateWrap.Value.Options.IconSizeInPixels,
			AppOptionsStateWrap.Value.Options.IconSizeInPixels);
	}

    @IconGoToFileFragment.Render(iconDriver)
    @CSharpProjectToProjectReference.ReferenceProjectAbsolutePath.NameWithExtension
</div>