<div>
	
	@{
		var appOptionsState = AppOptionsService.GetAppOptionsState();
	
		var iconDriver = new IconDriver(
			appOptionsState.Options.IconSizeInPixels,
			appOptionsState.Options.IconSizeInPixels);
	}

    @IconReferencesFragment.Render(iconDriver)
    Project References
</div>