<div class="luth_ide_file-form-display"
     @onkeydown="HandleOnKeyDown">
    
    @if (CheckForTemplates)
    {
        <FileTemplatesDisplay @ref="_fileTemplatesDisplay" 
                              FileName="@_fileName" />
    }
    
    <input class="luth_ide_input luth_ide_input-text"
           style="height: 2em;"
           type="text"
           placeholder="@PlaceholderText"
           autocapitalize="none"
           autocorrect="off"
           autocomplete="off"
           spellcheck="false"
           @bind="_fileName"
           @bind:event="oninput"
           @ref="_inputElementReference" />
</div>
