@using Luthetus.Common.RazorLib.Dimensions;
@using Luthetus.Common.RazorLib.Dimensions.Models

<div class="luth_resize-row"
     style="height: @(CommonApi.AppOptionApi.GetAppOptionsState().Options.ResizeHandleHeightInPixels.ToCssValue())px;"
     @onmousedown="() => SubscribeToDragEvent(DragEventHandlerResizeHandleAsync)">
    
</div>