@using Luthetus.Common.RazorLib.Dimensions;
@using Luthetus.Common.RazorLib.Dimensions.Models

<div class="luth_resize-column"
     style="width: @(AppOptionsService.GetAppOptionsState().Options.ResizeHandleWidthInPixels.ToCssValue())px;"
     @onmousedown="() => SubscribeToDragEvent(DragEventHandlerResizeHandleAsync)">
    
</div>