@using Luthetus.Common.RazorLib.Contexts.Displays
@using Luthetus.Common.RazorLib.Contexts.Models;
@using Luthetus.Ide.RazorLib.Terminals.Displays.Internals
@using Luthetus.Ide.RazorLib.Terminals.Models
@using System.Collections.Immutable

<ContextBoundary ContextRecord="ContextFacts.TerminalContext"
                 ClassCssString="luth_ide_integrated-terminal"
                 StyleCssString="height: 100%; width: 100%; overflow: auto;">

	<div class="luth_ide_section-title">
        Terminal
    </div>

	<div class="luth_ide_section-body" style="width: 100%;">
		<CascadingValue Value="_integratedTerminal">
			@{
				var localStdList = _integratedTerminal.StdList;
		        foreach (var std in localStdList)
		        {
					<StdDisplay Std="std"/>
					<hr/>
		        }
			}
		</CascadingValue>
    </div>
</ContextBoundary>
