@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@using Luthetus.TextEditor.RazorLib.TextEditors.Displays;

<div class="luth_ide_terminal">
    @{
        var terminalState = TerminalStateWrap.Value;
        var success = terminalState.TerminalMap.TryGetValue(TerminalKey, out var terminal);
    }

    @if (success && terminal is not null)
    {
        <TextEditorViewModelDisplay TextEditorViewModelKey="terminal.TextEditorViewModelKey"
                                    ViewModelDisplayOptions="_textEditorViewModelDisplayOptions" />
    }
</div>