@using Luthetus.Ide.RazorLib.Terminals.Models;

@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@{
    var wellKnownTerminalSession = TerminalSessionsStateSelection.Value;

    if (wellKnownTerminalSession is not null)
    {
        <button class="luth_button @CssClassString"
                @onclick="DispatchSetActiveTerminalCommandKeyActionOnClick">

            @if (WellKnownTerminalSessionKey == TerminalSessionFacts.EXECUTION_TERMINAL_SESSION_KEY)
            {
                @: Execution
            }
            else
            {
                @: General
            }

            <button class="luth_button"
                    @onclick="ClearStandardOutOnClick"
                    @onclick:stopPropagation="true">
                Clear
            </button>

            @{ var isKillProcessDisabled = !wellKnownTerminalSession.HasExecutingProcess; }

            <button class="luth_button"
                    disabled=@isKillProcessDisabled
                    @onclick="KillProcessOnClick"
                    @onclick:stopPropagation="true">
                Kill
            </button>

            <div style="margin-left: 15px;">
                @if (wellKnownTerminalSession.HasExecutingProcess)
                {
                    <IconLoading/>
                }
                else
                {
                    <IconBlank/>
                }
            </div>
        </button>
    }
}
