<div class="luth_ide_git-controls">
    
    @{ var localGitState = GitState; }

    <button class="luth_button"
            @onclick="ExecuteGitStatusTerminalCommandOnClick">
        Status
    </button>

	<GitChangesTreeViewDisplay/>
</div>