@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@using Luthetus.Common.RazorLib.Contexts.Displays
@using Luthetus.Common.RazorLib.Contexts.Models
@using Luthetus.Common.RazorLib.Dropdowns.Displays
@using Luthetus.Common.RazorLib.Dropdowns.Models
@using Luthetus.Common.RazorLib.Menus.Displays

<ContextBoundary ContextRecord="ContextFacts.GitContext"
                 ClassCssString="luth_ide_git-display"
                 StyleCssString="height: 100%">

    @{ var localGitState = GitStateWrap.Value; }

    <div class="luth_ide_section-title">
        Git
    </div>

    <div class="luth_ide_section-body">
        <CascadingValue Value="localGitState">

            <button @ref="_menuButtonElementReference"
                    @onclick="() => { ShowMenuDropdown(_menuDropdownKey); return Task.CompletedTask; }"
                    class="luth_button luth_ide_git-justify-end"
                    style="position: relative; margin-top: 10px; padding: 8px; justify-content: center; align-items: center;">
                <IconSettingsGear />

                <DropdownDisplay DropdownKey="_menuDropdownKey"
                                 DropdownPositionKind="DropdownPositionKind.Vertical">

                    <CascadingValue Value="RestoreFocusToMenuButton" Name="ReturnFocusToParentFuncAsync">
                        <MenuDisplay MenuRecord="_menu" />
                    </CascadingValue>
                </DropdownDisplay>
            </button>

            <div style="margin-top: 10px;">
                @if (localGitState.Repo is null)
                {
                    <button class="luth_button"
                            @onclick="ShowAddRepoDialog">
                        Choose Repo
                    </button>
                }
            </div>
            
            @if (localGitState.Repo is not null)
            {
                <button class="luth_button"
                        @onclick="() => GetBranchesOnClick(localGitState)">
                    Get branches
                </button>

                <div title="@localGitState.Repo.AbsolutePath.Value">
                    Repo: @localGitState.Repo.AbsolutePath.NameNoExtension
                </div>

                <div>
                    Branch:
                    
                    @if (string.IsNullOrWhiteSpace(localGitState.Branch))
                    {
                        @: null
                    }
                    else
                    {
                        @localGitState.Branch
                    }
                </div>

                <div style="text-wrap: nowrap;">
                    Origin:
                    
                    @if (string.IsNullOrWhiteSpace(localGitState.Origin))
                    {
                        @: null
                    }
                    else
                    {
                        @localGitState.Origin
                    }
                </div>

                <GitControlsDisplay />
            }
        </CascadingValue>
    </div>
</ContextBoundary>