<div class="luth_ide_git-diff">

    @{ 
        var localGitState = GitStateWrap.Value;
        var localGitFile = GitFile;
    }

    GitDiffDisplay

    <button class="luth_button" @onclick="() => ShowOriginalFromGitOnClick(localGitState, localGitFile)">
        ShowOriginalFromGitOnClick
    </button>
</div>
