<div class="luth_ide_git-pick-git-folder">

    @{ var localGitState = GitState; }

    <button class="luth_button"
            @onclick="ShowAddRepoDialogOnClick">

        @if (localGitState.Repo is null)
        {
            @: Choose Repo
        }
        else
        {
            @: Change Repo
        }
    </button>
</div>