@* https://loading.io/css/ *@
@inherits IconBase

@{
     var scaleSizesBy = 2;
}

<div class="lds-dual-ring"
     style="width: @(WidthInPixels * scaleSizesBy)px; height: @(HeightInPixels * scaleSizesBy)px; @CssStyleString">
    
</div>