@using Luthetus.Common.RazorLib.Icons.Models

@{
	var positionHorizontalStyle = IconBadgeHorizontalPositionKind == Models.IconBadgeHorizontalPositionKind.Left
		? "left: 0;"
		: "right: 0;";

	var positionVerticalStyle = IconBadgeVerticalPositionKind == Models.IconBadgeVerticalPositionKind.Top
		? "top: 0;"
		: "bottom: 0;";
}

<div class="luth_icon-badge @CssClassString"
     style="@positionHorizontalStyle @positionVerticalStyle">

    @ChildContent
</div>