@{ var appOptionsState = AppOptionsService.AppOptionsStateWrap.Value; }

<div class="luth_settings-input luth_input-app-options-font-family @CssClassString"
     style="@CssStyleString">
    
    Font-Family:&nbsp;

    <input class="luth_input"
           @bind="FontFamily"/>
</div>