<div title="@TreeViewInterfaceImplementation.Key.Guid">
    <IconSymbolInterface/>
    ConcreteType:
    <span class="luth_te_type">@TreeViewInterfaceImplementation.Item.DebugObjectItemType.Name</span>
</div>