@using Luthetus.Common.RazorLib.Dropdowns.Displays
@using Luthetus.Common.RazorLib.Dropdowns.Models
@using Luthetus.Common.RazorLib.TreeViews.Displays
@using Luthetus.Common.RazorLib.TreeViews.Models
@using Luthetus.Ide.RazorLib.Terminals.Models
@using System.Collections.Immutable

<div class="luth_ide_git-changes-tree-view"
	 style="height: 100%;">

     @{ var appOptionsState = AppOptionsStateWrap.Value; }

    <CascadingValue Name="LuthetusTreeViewIconWidth" Value="appOptionsState.Options.IconSizeInPixels">
        <CascadingValue Name="LuthetusTreeViewIconHeight" Value="appOptionsState.Options.IconSizeInPixels">
            <CascadingValue Name="OffsetPerDepthInPixels" Value="OffsetPerDepthInPixels">
                <TreeViewContainerDisplay TreeViewContainerKey="States.GitState.TreeViewGitChangesKey"
                                          CssStyleString="height: 100%;"
                                          OnContextMenuFunc="OnTreeViewContextMenuFunc"
                                          TreeViewKeyboardEventHandler="_treeViewKeyboardEventHandler"
                                          TreeViewMouseEventHandler="_treeViewMouseEventHandler" />
            </CascadingValue>
        </CascadingValue>
    </CascadingValue>
</div>