<div class="luth_ide_git-controls">
    
    @{ var localGitState = GitState; }

    <div style="display: flex; justify-content: space-evenly; margin-top: 10px; margin-bottom: 10px;">
        <button class="luth_button"
                @onclick="ShowGitOriginDialogOnClick">
            Origin
        </button>
        <button class="luth_button"
                @onclick="() => ExecuteGitRefreshOnClick(localGitState)">
            
            @{
	            var iconDriver = new IconDriver(
					AppOptionsStateWrap.Value.Options.IconSizeInPixels,
					AppOptionsStateWrap.Value.Options.IconSizeInPixels);
            }
            @IconRefreshFragment.Render(iconDriver) Refresh
        </button>
    </div>

    <div style="display: flex; justify-content: space-evenly; margin-bottom: 10px;">
        <button class="luth_button"
                @onclick="() => StageOnClick(localGitState)">
            Stage
        </button>
        <button class="luth_button"
                @onclick="() => UnstageOnClick(localGitState)">
            Unstage
        </button>
    </div>

	<GitChangesTreeViewDisplay/>

    <input class="luth_ide_input luth_ide_input-text"
           style="margin-top: 10px; width: 100%;"
           placeholder="Summary"
           @bind="_summary"
           @bind:event="oninput" />

    <button class="luth_button"
            style="margin-top: 10px;"
            @onclick="() => CommitChangesOnClick(localGitState, _summary)">
        Commit
    </button>
</div>