@using Luthetus.Common.RazorLib.Contexts.Displays
@using Luthetus.Common.RazorLib.Contexts.Models;
@using Luthetus.TextEditor.RazorLib.Diffs.Displays

<ContextBoundary ContextRecord="ContextFacts.GitContext"
                 ClassCssString="luth_ide_git-display"
                 StyleCssString="height: 100%; width: 100%;">

    @if (CommonApi.AppOptionApi.ShowPanelTitles)
	{
	    <div class="luth_ide_section-title">
	        Git Changes (TODO)
	    </div>
    }

    <div class="luth_ide_section-body @CommonApi.AppOptionApi.ShowPanelTitlesCssClass"
         style="width: 100%;">

        <TextEditorDiffDisplay TextEditorDiffKey="DiffModelKey"/>
    </div>
</ContextBoundary>
