@using Luthetus.TextEditor.RazorLib.Diffs.Displays;

<div class="luth_ide_git-diff"
     style="height: 100%;">
    @{
        var localGitState = GitBackgroundTaskApi.Git.GetGitState();
        var localGitFile = GitFile;
    }

    <TextEditorDiffDisplay TextEditorDiffKey="_textEditorDiffModelKey"
                           CssStyleString="height: 100%;"/>
</div>
