<span title="@TreeViewGitFile.Item.AbsolutePath.Value">

    @{ var nameWithExtension = TreeViewGitFile.Item.AbsolutePath.NameWithExtension; }

    <input type="checkbox" @bind="IsChecked" @bind:event="oninput" />

    @if (string.IsNullOrWhiteSpace(nameWithExtension))
    {
        @: string.IsNullOrWhiteSpace(nameWithExtension)
    }
    else
    {
        @nameWithExtension
    }
</span>
