<span title="@TreeViewGitFile.Item.AbsolutePath.Value">

    @{ var nameWithExtension = TreeViewGitFile.Item.AbsolutePath.NameWithExtension; }

    @if (string.IsNullOrWhiteSpace(nameWithExtension))
    {
        @: abc123
    }
    else
    {
        @nameWithExtension
    }
</span>
