@using Fluxor.Blazor.Web.Components

@inherits FluxorComponent

@{ var contextStates = ContextStateWrap.Value; }

<div class="luth_ide_context-initializer">

    @if (contextStates.IsSelectingInspectionTarget)
    {
        foreach (var inspectContextRecordEntry in contextStates.InspectContextRecordEntryBag)
        {
            // TODO: App crashes when using: @key="inspectContextRecordEntry.ContextRecordKeyHeirarchy.TargetKey"
            <ContextBoundaryOverlay InspectContextRecordEntry="inspectContextRecordEntry"/>
        }
    }
</div>
