@using Luthetus.Ide.RazorLib.FileSystemCase
@using Luthetus.Ide.RazorLib.FileSystemCase.Displays

<div>
    <FileIconDisplay AbsolutePath="NamespacePath.AbsolutePath"/>
    @NamespacePath.AbsolutePath.NameWithExtension
</div>