<div class="luth_ide_info">
    <div>
        Version: 0.1.0
    </div>
    <div>
        Source Code:
        <a target="_blank"
           href="https://github.com/Luthetus/Luthetus.Ide">
           Luthetus/Luthetus.Ide (github)
       </a>
    </div>
</div>