@using Luthetus.Common.RazorLib.ComponentRunners
@using Luthetus.Common.RazorLib.Contexts.Displays
@using Luthetus.Common.RazorLib.Contexts.Models;
@using Luthetus.Common.RazorLib.Dimensions;
@using Luthetus.Common.RazorLib.Installations.Displays
@using Luthetus.Common.RazorLib.Keys.Models;
@using Luthetus.Common.RazorLib.Panels.Displays
@using Luthetus.Common.RazorLib.Panels.Models;
@using Luthetus.Common.RazorLib.Resizes.Displays
@using Luthetus.Common.RazorLib.StateHasChangedBoundaries.Displays;
@using Luthetus.Common.RazorLib.ShouldRenderBoundaries.Displays
@using Luthetus.Ide.RazorLib.Installations.Displays
@using Luthetus.TextEditor.RazorLib.Installations.Displays
@using Luthetus.TextEditor.RazorLib.TextEditors.Displays

@inherits LayoutComponentBase

<ContextBoundary ContextRecord="ContextFacts.GlobalContext"
                 ClassCssString="@($"luth_ide_main-layout {UnselectableClassCss} {AppOptionsService.ThemeCssClassString} {TextEditorService.ThemeCssClassString}")"
                 StyleCssString="@($"{AppOptionsService.FontSizeCssStyleString} {AppOptionsService.FontFamilyCssStyleString}")">

    <ShouldRenderBoundary>

        <LuthetusCommonInitializer />
        <LuthetusTextEditorInitializer />
        <LuthetusIdeInitializer />

        <div class="luth_ide_test-layout"
             style="padding: 8px;">
            Test Layout
        </div>

        <StateHasChangedBoundary @ref="_bodyAndFooterStateHasChangedBoundaryComponent">
            
            @if (_componentTypes is null)
            {
                <div>Loading _componentTypes...</div>
            }
            else
            {
                <ComponentRunnerPanel ComponentTypes="_componentTypes"/>
            }
        </StateHasChangedBoundary>
    </ShouldRenderBoundary>
</ContextBoundary>