<div title="@TreeViewCodeSearchTextSpan.AbsolutePath.Value">
	@(TreeViewCodeSearchTextSpan.AbsolutePath.NameWithExtension)____@(TreeViewCodeSearchTextSpan.Item.StartingIndexInclusive) position index
</div>
