@using BlazorCommon.RazorLib.Options
@using BlazorTextEditor.RazorLib.Options

<div class="bstudio_settings">
    
    <div class="bstudio_settings-scope">
        <div class="bstudio_settings-scope-title bstudio_larger-font-size">
            Application Settings
        </div>
        
        <div class="bstudio_settings-scope-body bcrl_indent-child-content">
            
            <div class="bstudio_settings-scope-border"></div>
            
            <InputAppFontSize/>
            <InputAppFontFamily/>
            <InputAppIconSize/>
            <InputAppTheme/>
        </div>
    </div>
    
    <div class="bstudio_settings-scope">
        <div class="bstudio_settings-scope-title bstudio_larger-font-size">
            Text Editor Settings
        </div>
        
        <div class="bstudio_settings-scope-body bcrl_indent-child-content">
            
            <div class="bstudio_settings-scope-border"></div>
            
            <TextEditorSettingsPreview/>
            <InputTextEditorFontSize/>
            <InputTextEditorFontFamily/>
            <InputTextEditorCursorWidth/>
            <InputTextEditorShowNewLines/>
            <InputTextEditorUseMonospaceOptimizations/>
            <InputTextEditorShowWhitespace/>
            <InputTextEditorTheme/>
            <InputTextEditorKeymap/>
        </div>
    </div>
</div>