@using Luthetus.Common.RazorLib.Options
@using Luthetus.TextEditor.RazorLib.Options

<div class="luth_ide_settings">
    
    <div class="luth_ide_settings-scope">
        <div class="luth_ide_settings-scope-title luth_ide_larger-font-size">
            Application Settings
        </div>
        
        <div class="luth_ide_settings-scope-body luth_indent-child-content">
            
            <div class="luth_ide_settings-scope-border"></div>
            
            <InputAppFontSize/>
            <InputAppFontFamily/>
            <InputAppIconSize/>
            <InputAppTheme/>
        </div>
    </div>
</div>