@using Luthetus.TextEditor.RazorLib.Lexes.Models;
<div class="luth_ide_syntax-text-span">
    <div>
        Spans from
        <span title="@nameof(TextSpan.StartingIndexInclusive)">@TextSpan.StartingIndexInclusive</span>
        to
        <span title="@nameof(TextSpan.EndingIndexExclusive)">@TextSpan.EndingIndexExclusive</span>
    </div>

    <input class="luth_ide_input luth_ide_input-text"
           @bind="InputValue"
           @onfocusout="CompleteForm"/>
</div>