<div title="@TreeViewText.Key.Guid">

	@{
		var appOptionsState = AppOptionsService.GetAppOptionsState();
	
		var iconDriver = new IconDriver(
			appOptionsState.Options.IconSizeInPixels,
			appOptionsState.Options.IconSizeInPixels);
	}

    @IconSymbolKeyFragment.Render(iconDriver)
    @TreeViewText.Item
</div>