<div title="@TreeViewProperties.Key.Guid">
    <span>
    	@{
    		var appOptionsState = AppOptionsService.GetAppOptionsState();
    	
    		var iconDriver = new IconDriver(
				appOptionsState.Options.IconSizeInPixels,
				appOptionsState.Options.IconSizeInPixels);
    	}
        @IconSymbolPropertyFragment.Render(iconDriver)
        Properties
    </span>
</div>