<div title="@TreeViewInterfaceImplementation.Key.Guid">

	@{
		var appOptionsService = CommonApi.AppOptionApi.GetAppOptionsState();
	
		var iconDriver = new IconDriver(
			appOptionsService.Options.IconSizeInPixels,
			appOptionsService.Options.IconSizeInPixels);
	}

    @IconSymbolInterfaceFragment.Render(iconDriver)
    ConcreteType:
    <span class="luth_te_type">@TreeViewInterfaceImplementation.Item.ItemType.Name</span>
</div>