<div title="@TreeViewProperties.Key.Guid">
    <span>
    	@{
    		var iconDriver = new IconDriver(
				AppOptionsStateWrap.Value.Options.IconSizeInPixels,
				AppOptionsStateWrap.Value.Options.IconSizeInPixels);
    	}
        @IconSymbolPropertyFragment.Render(iconDriver)
        Properties
    </span>
</div>