<div title="@TreeViewFields.Key.Guid">
    <span>
    	@{
    		var appOptionsState = AppOptionsService.GetAppOptionsState();
    	
    		var iconDriver = new IconDriver(
				appOptionsState.Options.IconSizeInPixels,
				appOptionsState.Options.IconSizeInPixels);
    	}
    
        @IconSymbolFieldFragment.Render(iconDriver)
        Fields
    </span>
</div>