<div title="@TreeViewFields.Key.Guid">
    <span>
    	@{
    		var iconDriver = new IconDriver(
				AppOptionsStateWrap.Value.Options.IconSizeInPixels,
				AppOptionsStateWrap.Value.Options.IconSizeInPixels);
    	}
    
        @IconSymbolFieldFragment.Render(iconDriver)
        Fields
    </span>
</div>