@    using Fluxor.Blazor.Web.Components

@inherits FluxorComponent

@{ var componentRunnerState = ComponentRunnerStateWrap.Value; }

<div class="luth_component-runner-panel">

    <button class="luth_button" @onclick="DispatchRegisterActionOnClick">
        Add Component
    </button>

    @for (var i = 0; i < componentRunnerState.ComponentRunnerDisplayStateBag.Count; i++)
    {
        var index = i;
        var componentRunnerDisplay = componentRunnerState.ComponentRunnerDisplayStateBag[index];

        <ComponentRunnerDisplay @key="componentRunnerDisplay.Key"
                                ComponentRunnerDisplayStateKey="componentRunnerDisplay.Key"
                                Index="index"
                                ComponentTypeBag="ComponentTypeBag" />

        <hr/>
    }
</div>