<div>
    <h3>TestComponent</h3>

    @if (string.IsNullOrWhiteSpace(Text))
    {
        @: string.IsNullOrWhiteSpace(Text)
    }
    else
    {
        @: @Text
    }
</div>

@code {
    [Parameter, EditorRequired]
    public string Text { get; set; } = string.Empty;
}
