@using System.Collections.Immutable
@using Luthetus.Common.RazorLib.Dropdowns.Displays
@using Luthetus.Common.RazorLib.Dropdowns.Models
@using Luthetus.Common.RazorLib.TreeViews.Displays
@using Luthetus.Common.RazorLib.TreeViews.Models
@using Luthetus.Ide.RazorLib.Terminals.Models
@using Luthetus.Extensions.DotNet.TestExplorers.Models

<div class="luth_ide_test-explorer-tree-view"
	 style="@ElementDimensions.StyleString">

	<CascadingValue Name="LuthetusTreeViewIconWidth" Value="RenderBatch.AppOptionsState.Options.IconSizeInPixels">
        <CascadingValue Name="LuthetusTreeViewIconHeight" Value="RenderBatch.AppOptionsState.Options.IconSizeInPixels">
            <CascadingValue Name="OffsetPerDepthInPixels" Value="OffsetPerDepthInPixels">
                <TreeViewContainerDisplay TreeViewContainerKey="TestExplorerState.TreeViewTestExplorerKey"
                                          CssStyleString="height: 100%;"
                                          OnContextMenuFunc="OnTreeViewContextMenuFunc"
                                          TreeViewKeyboardEventHandler="_treeViewKeyboardEventHandler"
                                          TreeViewMouseEventHandler="_treeViewMouseEventHandler" />
            </CascadingValue>
        </CascadingValue>
    </CascadingValue>
</div>