@using Luthetus.Common.RazorLib.Keys.Models
@using Luthetus.Common.RazorLib.ShouldRenderBoundaries.Displays
@using Luthetus.TextEditor.RazorLib.TextEditors.Displays
@using Luthetus.TextEditor.RazorLib.TextEditors.Displays.Internals
@using Luthetus.TextEditor.RazorLib.TextEditors.Models
@using Luthetus.Ide.RazorLib.Terminals.Models;
@using Luthetus.Ide.RazorLib.Terminals.Displays;

<div class="luth_ide_test-explorer-details"
	 style="@ElementDimensions.StyleString">

	<ShouldRenderBoundary>
		<TextEditorViewModelSlimDisplay TextEditorViewModelKey="DetailsTextEditorViewModelKey"
									    ViewModelDisplayOptions="_textEditorViewModelDisplayOptions" />
	</ShouldRenderBoundary>
</div>