@using Luthetus.Ide.RazorLib.Terminals.Models

@{ var terminal = TerminalService.GetTerminalState().TerminalMap[TerminalFacts.EXECUTION_KEY]; }

@if (terminal is null)
{
	<text>@nameof(terminal) was null</text>
}
else
{
	var output = GetTerminalCommandRequestOutput(terminal);

	RenderFragment renderFragment = @<text>?</text>;

	if (output is null)
	{
		renderFragment = @<text>?</text>;
	}
	else if (!output.Contains("Duration:"))
	{
		var appOptionsState = CommonApi.AppOptionApi.GetAppOptionsState();
	
		var iconDriver = new IconDriver(
			appOptionsState.Options.IconSizeInPixels,
			appOptionsState.Options.IconSizeInPixels);
		
		renderFragment = IconLoadingFragment.Render(iconDriver);
	}
	else
	{
		if (output.Contains("Passed!"))
		{
			renderFragment = @<em class="luth_em">Passed!</em>;
		}
		else
		{
			renderFragment = @<span class="luth_tree-view-exception">Failed!</span>;
		}
	}

	<div style="display: flex;">
		@renderFragment&nbsp;
		@TreeViewStringFragment.Item.Value

		@if (TreeViewStringFragment.ChildList.Count > 0)
		{
			<span title="Count of child nodes">
				&nbsp;(@(TreeViewStringFragment.ChildList.Count))
			</span>
		}
	</div>
}

