<div class="luth_ide_folder-notifications">

	@if (CommonApi.AppOptionApi.ShowPanelTitles)
	{
	    <div class="luth_ide_section-title">
	        Notifications
	    </div>
    }

    <div class="luth_ide_section-body @CommonApi.AppOptionApi.ShowPanelTitlesCssClass">
        #TODO: Body
    </div>
</div>